{% include 'iseq-styles/main.style-template.jinja' %}

<office:body>
<office:text text:use-soft-page-breaks="true">

{% include 'iseq-styles/logo.template.jinja' %}
{% include 'header-template.jinja' %}

{% include 'table-template.jinja' %}

</office:text>
</office:body>
</office:document-content>
