<text:p> </text:p>

{% for dict_item in sexcheck %}
<table:table table:name="Table" table:style-name="Table">

  {% set one=dict_item|dictsort%}

   {% for key, value in one %}
   <table:table-column table:style-name="IseqTableColumn" />
   {% endfor %}

   <table:table-header-rows>
     <table:table-row table:style-name="IseqTableRow">
     {% for key, value in one %}
      <table:table-cell table:style-name="IseqTableSubheader" office:value-type="string">
        <text:p>{{key [2:]}}</text:p>
      </table:table-cell>
     {% endfor %}
    </table:table-row>
   </table:table-header-rows>

   <table:table-row table:style-name="IseqTableRow"><text:p> </text:p>
    {% for key, value in one %}
      <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
      {% set list1 = value.split(';') %}
      {% for value1 in list1%}
        <text:p>{{value1|e}}</text:p>
      {% endfor %}
      </table:table-cell>
   {% endfor %}
  </table:table-row>

</table:table>
<text:p> </text:p>
{% endfor %}
