<text:p text:style-name="H1">Gene panel</text:p>
<text:p> </text:p>

<text:p>The custom gene panel was created based on the inputs selected or/and entered by the user:</text:p>
<text:p>- disease names: {{ panel_inputs.diseases }}</text:p>
<text:p>- gene panel names: {{ panel_inputs.panel_names }}</text:p>
<text:p>- gene names: {{ panel_inputs.genes }}</text:p>
<text:p>- patient phenotype: {{ panel_inputs.phenotypes_description }}</text:p>
<text:p>- HPO terms: {{ panel_inputs.hpo_terms }}</text:p>
<text:p> </text:p>

<table:table table:name="Table" table:style-name="IseqTable">
  <table:table-column table:style-name="IseqTableColumn" />
  <table:table-column table:style-name="IseqTableColumn" />
  <table:table-column table:style-name="IseqTableColumn" />


{# Header of the table#}
  <table:table-header-rows>
    <table:table-row table:style-name="IseqTableRow">
    <table:table-cell table:style-name="IseqTableHeader" table:number-columns-spanned="7" office:value-type="string">
      <text:p>List of genes used for analysis</text:p>
      </table:table-cell>
      <table:covered-table-cell/>
    </table:table-row>

{# Header of each column #}
    <table:table-row table:style-name="IseqTableRow">
        {% for column in ["Gene name", "Phenotype match", "Type"] %}
        <table:table-cell table:style-name="IseqTableSubheader" office:value-type="string">
            <text:p>{{column}}</text:p>
        </table:table-cell>
        {% endfor %}
        </table:table-row>
    </table:table-header-rows>

{% for field in panel %}
  <table:table-row table:style-name="IseqTableRow"><text:p> </text:p>
    <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
      <text:p>{{field.name}}</text:p>
    </table:table-cell>
    <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
      <text:p>{{field.score | round }}%</text:p>
    </table:table-cell>
    <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
      <text:p>{{field.type}}</text:p>
    </table:table-cell>
  </table:table-row>
  {% endfor %}
</table:table>