<table:table table:name="Table" table:style-name="IseqTable">
{% if roh_regions[0].region %}
{# Number of columns #}
  {%for i in range(5)%}
    <table:table-column table:style-name="IseqTableColumn" />
  {% endfor %}
  <table:table-header-rows>

{# Header of the table#}

    <table:table-row table:style-name="IseqTableRow">
    <table:table-cell table:style-name="IseqTableHeader" table:number-columns-spanned="5" office:value-type="string">
      <text:p>IBD regions overlapping with exons of the panel genes</text:p>
      </table:table-cell>
      <table:covered-table-cell/>
    </table:table-row>

{# Header of each column #}
      <table:table-row table:style-name="IseqTableRow">
      {%for title in [
                  "IBD Region",
                  "Region length",
                  "Number of markers within the region",
                  "Region QUAL (phred scale)",
                  "Panel genes within the IBD region (exon overlap)"]
                  %}
        <table:table-cell table:style-name="IseqTableSubheader" office:value-type="string">
        <text:p>{{title}}</text:p>
        </table:table-cell>
      {% endfor %}
      </table:table-row>

      </table:table-header-rows>

      {% for region in roh_regions %}
      <table:table-row table:style-name="IseqTableRow">

      {# first cell #}

       <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
         <text:p> {{region.region}}</text:p>
       </table:table-cell>

       {# second cell #}
       <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
         <text:p>{{region.length}}</text:p>
       </table:table-cell>

   {# third cell #}
      <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
        <text:p>{{region.markers}}</text:p>
      </table:table-cell>

   {# fourth cell #}
      <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
        <text:p>{{region.qual}}</text:p>
      </table:table-cell>

   {# fifth cell #}
      <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
        <text:p text:style-name ="i">{{region.genes|join(", ")}}</text:p>
      </table:table-cell>

   </table:table-row>
   {% endfor %}
   {% else %}
    <table:table-column table:style-name="IseqTableColumn"/>
    <table:table-header-rows>
    <table:table-row table:style-name="IseqTableRow">
    <table:table-cell table:style-name="IseqTableHeader" office:value-type="string">
        <text:p>IBD regions overlapping with exons of the panel genes</text:p>
     </table:table-cell>
    </table:table-row>
    </table:table-header-rows>
    <table:table-row table:style-name="IseqTableRow">
     <table:table-cell table:style-name="IseqTableCell"  office:value-type="string">
       <text:p text:style-name ="i">NA</text:p>
     </table:table-cell>
   </table:table-row>
   {% endif %}
   </table:table>
