<text:p> </text:p>
<table:table table:style-name="IseqTable">
  <table:table-column table:style-name="IseqTableColumn"/>
  <table:table-header-rows>
  <table:table-row table:style-name="IseqTableRow">
    <table:table-cell table:style-name="IseqTableHeader" office:value-type="string">
      <text:p>Genome location of the high confidence identity by descent (IBD) regions </text:p>
    </table:table-cell>
  </table:table-row>
  </table:table-header-rows>
  <table:table-row table:style-name="IseqTableRow">
    <table:table-cell table:style-name="IseqTableCell"  office:value-type="string">
      <text:p  >
      {% set frame_height =  picture_height[0].height %}
      <draw:frame draw:style-name="logo" text:anchor-type="as-char" svg:width="610px" svg:height="{{frame_height}}px">
      {% set picture_name = "roh.svg" %}
      <draw:image xlink:href="Pictures/{{picture_name}}"/>
      </draw:frame>
      </text:p>

      <text:p text:style-name ="figure">
       Red and green dots represent markers within and outside the IBD regions respectively. Only regions with QUAL higher than 30 are plotted.
       IBD regions were identified as long runs of homozygous markers with the bcftools roh software.
       </text:p>
    </table:table-cell>
  </table:table-row>
</table:table>
<text:p></text:p>


