<table:table table:style-name="IseqTable">
  <table:table-column table:style-name="IseqTableColumn"/>
  <table:table-header-rows>
  <table:table-row table:style-name="IseqTableRow">
    <table:table-cell table:style-name="IseqTableHeader" office:value-type="string">
      <text:p>Full gene list</text:p>
    </table:table-cell>
  </table:table-row>
  </table:table-header-rows>

  <table:table-row table:style-name="IseqTableRow">
     <table:table-cell table:style-name="IseqTableCell"  office:value-type="string">
     {% if roh_genes.genes|length %}
       <text:p text:style-name ="i">{{roh_genes.genes|join(", ")}}</text:p>
     {% else %}
         <text:p text:style-name ="i">NA</text:p>
     {% endif %}
     </table:table-cell>
   </table:table-row>
    </table:table>
   <text:p text:style-name ="figure">This list contains names of genes which exons intersect any of the identified IBD regions</text:p>



 

