<text:p> </text:p>
<table:table table:name="Table" table:style-name="Table">
{# Columns of the table #}
{% for width in [40, 2, 10, 2, 30, 20, 40] %}
  <table:table-column table:style-name="IseqTableColumn{{width}}" />
{% endfor %}

{# Header of the table#}
  <table:table-header-rows>
    <table:table-row table:style-name="IseqTableRow">
    <table:table-cell table:style-name="IseqTableHeader" table:number-columns-spanned="7" office:value-type="string">
      <text:p>Table 1: parametric domain</text:p>
      </table:table-cell>
      <table:covered-table-cell/>
    </table:table-row>

{# Header of each column #}
    <table:table-row table:style-name="IseqTableRow">

    {%for measure in ["Task name", "Cpu", "Memory [GB]", "Time [s]", "Docker image", "Docker image size", "Module name"]%}
      <table:table-cell table:style-name="IseqTableSubheader" office:value-type="string">
        <text:p>{{measure}}</text:p>
      </table:table-cell>
    {% endfor %}
    </table:table-row>
  </table:table-header-rows>


{# Content of the parametric domain table  #}

  {% set steps_number = bco.provenance_domain.steps| length %}
  {% for i in range(steps_number) %}
  <table:table-row><text:p> </text:p>
    {% for parameter in [bco.parametric_domain[i*5].name,
                        bco.parametric_domain[i*5].value,
                        bco.parametric_domain[i*5+1].value,
                        bco.parametric_domain[i*5+2].value,
                        bco.parametric_domain[i*5+3].value,
                        bco.parametric_domain[i*5+4].value,
                        bco.parametric_domain[i*5].module_name] %}

    <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
      <text:p>{{parameter}}</text:p>
    </table:table-cell>
    {% endfor %}
  </table:table-row>
{% endfor %}


</table:table>
<text:p> </text:p>
