<text:p> </text:p>
<table:table table:name="Table" table:style-name="Table">
    {# Columns of the table #}
    {% for width in [40, 60, 60, 60, 60, 60] %}
        <table:table-column table:style-name="IseqTableColumn{{width}}" />
    {% endfor %}

    {# Header of the table#}
    <table:table-header-rows>
        <table:table-row table:style-name="IseqTableRow">
            <table:table-cell table:style-name="IseqTableHeader" table:number-columns-spanned="6" office:value-type="string">
                <text:p>Table 2: execution domain</text:p>
            </table:table-cell>
            <table:covered-table-cell/>
        </table:table-row>
    </table:table-header-rows>

    {% for task in bco.execution_domain %}
        <table:table-row table:style-name="IseqTableRow">
            <table:table-cell table:style-name="IseqTableSubheader" table:number-columns-spanned="6" office:value-type="string">
                <text:p>Module: {{task.module_name}}</text:p>
            </table:table-cell>
            <table:covered-table-cell/>
        </table:table-row>
        {# Subheader of table for specific task#}
        <table:table-header-rows>
            {# Header of each column #}
            <table:table-row table:style-name="IseqTableRow">
                {% for measure in ["Task name", "System", "Packages", "Tools", "Iseqtools", "Resources"]%}
                    <table:table-cell table:style-name="IseqTableSubheader" office:value-type="string">
                        <text:p>{{measure}}</text:p>
                    </table:table-cell>
                {% endfor %}
            </table:table-row>
        </table:table-header-rows>

        {# Content of the execution domain table #}
        <table:table-row>
            <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
                <text:p>{{ task.name }}</text:p>
            </table:table-cell>
            <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
                {% for name, version in task.software_prerequisites[3].items() %}
                    <text:p>- {{name}}=={{version}}</text:p>
                {% endfor %}
            </table:table-cell>
            <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
                {% for name, version in task.software_prerequisites[0].items() %}
                    <text:p>- {{name}}=={{version}}</text:p>
                {% endfor %}
            </table:table-cell>
            <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
                {% for name, version in task.software_prerequisites[1].items() %}
                    <text:p>- {{name}}=={{version}}</text:p>
                {% endfor %}
            </table:table-cell>
            <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
                {% for name, version in task.software_prerequisites[2].items() %}
                    <text:p>- {{name}}=={{version}}</text:p>
                {% endfor %}
            </table:table-cell>
            <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
                {% for i in task.external_data_endpoints[0].items() %}
                    <text:p>- {{i[0]}}=={{i[1].version}}</text:p>
                {% endfor %}
            </table:table-cell>
        </table:table-row>
    {% endfor %}
</table:table>
<text:p> </text:p>