{% include 'iseq-styles/main.style-template.jinja' %}

{# master styles with page numbering and page landscape orientation #}
<office:master-styles>
  {% include 'iseq-styles/master.styles-template.jinja' %}
</office:master-styles>

<office:body>
<office:text text:use-soft-page-breaks="true"> 

{% include 'iseq-styles/logo.template.jinja' %}
{% include '1-header-template.jinja' %}
{% include '2-parametric-domain-template.jinja' %}

</office:text>
</office:body>

</office:document-content>
