<?xml version="1.0" encoding="UTF-8"?>
<office:document-content xmlns:office="urn:oasis:names:tc:opendocument:xmlns:office:1.0" xmlns:style="urn:oasis:names:tc:opendocument:xmlns:style:1.0" xmlns:text="urn:oasis:names:tc:opendocument:xmlns:text:1.0" xmlns:table="urn:oasis:names:tc:opendocument:xmlns:table:1.0" xmlns:draw="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0" xmlns:fo="urn:oasis:names:tc:opendocument:xmlns:xsl-fo-compatible:1.0" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:meta="urn:oasis:names:tc:opendocument:xmlns:meta:1.0" xmlns:number="urn:oasis:names:tc:opendocument:xmlns:datastyle:1.0" xmlns:svg="urn:oasis:names:tc:opendocument:xmlns:svg-compatible:1.0" xmlns:chart="urn:oasis:names:tc:opendocument:xmlns:chart:1.0" xmlns:dr3d="urn:oasis:names:tc:opendocument:xmlns:dr3d:1.0" xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns:form="urn:oasis:names:tc:opendocument:xmlns:form:1.0" xmlns:script="urn:oasis:names:tc:opendocument:xmlns:script:1.0" xmlns:ooo="http://openoffice.org/2004/office" xmlns:ooow="http://openoffice.org/2004/writer" xmlns:oooc="http://openoffice.org/2004/calc" xmlns:dom="http://www.w3.org/2001/xml-events" xmlns:xforms="http://www.w3.org/2002/xforms" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rpt="http://openoffice.org/2005/report" xmlns:of="urn:oasis:names:tc:opendocument:xmlns:of:1.2" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:grddl="http://www.w3.org/2003/g/data-view#" xmlns:officeooo="http://openoffice.org/2009/office" xmlns:tableooo="http://openoffice.org/2009/table" xmlns:drawooo="http://openoffice.org/2010/draw" xmlns:calcext="urn:org:documentfoundation:names:experimental:calc:xmlns:calcext:1.0" xmlns:loext="urn:org:documentfoundation:names:experimental:office:xmlns:loext:1.0" xmlns:field="urn:openoffice:names:experimental:ooo-ms-interop:xmlns:field:1.0" xmlns:formx="urn:openoffice:names:experimental:ooxml-odf-interop:xmlns:form:1.0" xmlns:css3t="http://www.w3.org/TR/css3-text/" office:version="1.2">
  <office:scripts/>
  <office:font-face-decls>
		<style:font-face style:name="OpenSymbol" svg:font-family="OpenSymbol" style:font-charset="x-symbol"/>
		<style:font-face style:name="Arial Unicode MS1" svg:font-family="'Arial Unicode MS'" style:font-family-generic="swiss"/>
		<style:font-face style:name="Liberation Serif1" svg:font-family="'Liberation Serif'" style:font-pitch="variable"/>
		<style:font-face style:name="Lucida Grande" svg:font-family="'Lucida Grande'" style:font-pitch="variable"/>
		<style:font-face style:name="Liberation Serif" svg:font-family="'Liberation Serif'" style:font-family-generic="roman" style:font-pitch="variable"/>
		<style:font-face style:name="Liberation Sans" svg:font-family="'Liberation Sans'" style:font-family-generic="swiss" style:font-pitch="variable"/>
		<style:font-face style:name="Arial Unicode MS" svg:font-family="'Arial Unicode MS'" style:font-family-generic="system" style:font-pitch="variable"/>
		<style:font-face style:name="PingFang SC" svg:font-family="'PingFang SC'" style:font-family-generic="system" style:font-pitch="variable"/>
		<style:font-face style:name="Songti SC" svg:font-family="'Songti SC'" style:font-family-generic="system" style:font-pitch="variable"/>
	</office:font-face-decls>
	<office:automatic-styles>
		<style:style style:name="Table1" style:family="table">
			<style:table-properties style:width="7.8799in" table:align="center"/>
		</style:style>
		<style:style style:name="Table1.A" style:family="table-column">
			<style:table-column-properties style:column-width="2.6299in"/>
		</style:style>
		<style:style style:name="Table1.C" style:family="table-column">
			<style:table-column-properties style:column-width="2.6201in"/>
		</style:style>
		<style:style style:name="Table1.A1" style:family="table-cell">
			<style:table-cell-properties fo:background-color="transparent" fo:padding="0in" fo:border="none" style:writing-mode="page">
				<style:background-image/>
			</style:table-cell-properties>
		</style:style>
		<style:style style:name="Table2" style:family="table">
			<style:table-properties style:width="7.5438in" table:align="margins" fo:background-color="transparent">
				<style:background-image/>
			</style:table-properties>
		</style:style>
		<style:style style:name="Table2.A" style:family="table-column">
			<style:table-column-properties style:column-width="3.2in" style:rel-column-width="4608*"/>
		</style:style>
		<style:style style:name="Table2.B" style:family="table-column">
			<style:table-column-properties style:column-width="2in" style:rel-column-width="2880*"/>
		</style:style>
		<style:style style:name="Table2.C" style:family="table-column">
			<style:table-column-properties style:column-width="2.3438in" style:rel-column-width="3375*"/>
		</style:style>
		<style:style style:name="Table2.A1" style:family="table-cell">
			<style:table-cell-properties fo:padding="0.0382in" fo:border-left="0.05pt solid #ffffff" fo:border-right="none" fo:border-top="0.05pt solid #ffffff" fo:border-bottom="0.05pt solid #ffffff"/>
		</style:style>
		<style:style style:name="Table2.C1" style:family="table-cell">
			<style:table-cell-properties fo:padding="0.0382in" fo:border="0.05pt solid #ffffff"/>
		</style:style>
		<style:style style:name="Table2.2" style:family="table-row">
			<style:table-row-properties fo:background-color="transparent">
				<style:background-image/>
			</style:table-row-properties>
		</style:style>
		<style:style style:name="Table2.A2" style:family="table-cell">
			<style:table-cell-properties fo:padding="0.0382in" fo:border-left="0.05pt solid #ffffff" fo:border-right="none" fo:border-top="none" fo:border-bottom="0.05pt solid #ffffff"/>
		</style:style>
		<style:style style:name="Table2.C2" style:family="table-cell">
			<style:table-cell-properties fo:background-color="transparent" fo:padding="0.0382in" fo:border-left="0.05pt solid #ffffff" fo:border-right="0.05pt solid #ffffff" fo:border-top="none" fo:border-bottom="0.05pt solid #ffffff">
				<style:background-image/>
			</style:table-cell-properties>
		</style:style>
		<style:style style:name="P1" style:family="paragraph" style:parent-style-name="Standard">
			<style:paragraph-properties fo:text-align="center" style:justify-single-word="false"/>
			<style:text-properties fo:color="#000000" style:text-outline="false" style:text-line-through-style="none" style:text-line-through-type="none" style:font-name="Liberation Serif" fo:font-size="12pt" fo:font-style="normal" fo:text-shadow="none" style:text-underline-style="none" fo:font-weight="normal" officeooo:paragraph-rsid="003db173" style:font-size-asian="12pt" style:font-style-asian="normal" style:font-weight-asian="normal" style:font-size-complex="12pt" style:font-style-complex="normal" style:font-weight-complex="normal" style:text-overline-style="none" style:text-overline-color="font-color"/>
		</style:style>
		<style:style style:name="P2" style:family="paragraph" style:parent-style-name="Standard">
			<style:paragraph-properties fo:text-align="center" style:justify-single-word="false"/>
			<style:text-properties fo:color="#000000" style:text-outline="false" style:text-line-through-style="none" style:text-line-through-type="none" style:font-name="Liberation Serif" fo:font-size="12pt" fo:font-style="normal" fo:text-shadow="none" style:text-underline-style="none" fo:font-weight="normal" officeooo:paragraph-rsid="0047046f" style:font-size-asian="12pt" style:font-style-asian="normal" style:font-weight-asian="normal" style:font-size-complex="12pt" style:font-style-complex="normal" style:font-weight-complex="normal" style:text-overline-style="none" style:text-overline-color="font-color"/>
		</style:style>
		<style:style style:name="P3" style:family="paragraph" style:parent-style-name="Standard" style:master-page-name="">
			<loext:graphic-properties draw:fill="none"/>
			<style:paragraph-properties fo:margin-left="0in" fo:margin-right="0in" fo:text-indent="0in" style:auto-text-indent="false" style:page-number="auto" fo:background-color="transparent"/>
			<style:text-properties officeooo:paragraph-rsid="0034c8d9"/>
		</style:style>
		<style:style style:name="P4" style:family="paragraph" style:parent-style-name="Table_20_Contents">
			<style:text-properties fo:color="#999999" fo:font-size="11pt" officeooo:rsid="004cdaf3" officeooo:paragraph-rsid="004cdaf3" style:font-size-asian="11pt" style:font-size-complex="11pt"/>
		</style:style>
		<style:style style:name="P5" style:family="paragraph" style:parent-style-name="Table_20_Contents">
			<style:text-properties fo:font-size="11pt" officeooo:rsid="004cdaf3" officeooo:paragraph-rsid="004cdaf3" style:font-size-asian="11pt" style:font-size-complex="11pt"/>
		</style:style>
		<style:style style:name="P6" style:family="paragraph" style:parent-style-name="Table_20_Contents" style:list-style-name="L2">
			<style:text-properties fo:font-size="11pt" officeooo:paragraph-rsid="004cdaf3" style:font-size-asian="11pt" style:font-size-complex="11pt"/>
		</style:style>
		<style:style style:name="P7" style:family="paragraph" style:parent-style-name="Table_20_Contents" style:list-style-name="L1">
			<style:text-properties fo:font-size="11pt" officeooo:paragraph-rsid="004cdaf3" style:font-size-asian="11pt" style:font-size-complex="11pt"/>
		</style:style>
		<style:style style:name="P8" style:family="paragraph">
			<style:paragraph-properties fo:margin-left="0.2098in" fo:margin-right="0in" fo:margin-top="0in" fo:margin-bottom="0in" fo:line-height="90%" fo:text-indent="0in"/>
		</style:style>
		<style:style style:name="P9" style:family="paragraph">
			<style:paragraph-properties fo:margin-left="0.1799in" fo:margin-right="0in" fo:margin-top="0in" fo:margin-bottom="0in" fo:line-height="50%" fo:text-indent="0in"/>
		</style:style>
		<style:style style:name="P10" style:family="paragraph">
			<loext:graphic-properties draw:fill-color="#861a48"/>
			<style:paragraph-properties fo:margin-left="0.2098in" fo:margin-right="0in" fo:margin-top="0in" fo:margin-bottom="0in" fo:line-height="90%" fo:text-indent="0in"/>
			<style:text-properties fo:color="#ffffff" style:font-name="Lucida Grande" fo:font-size="12pt"/>
		</style:style>
		<style:style style:name="P11" style:family="paragraph">
			<loext:graphic-properties draw:fill-color="#e94c64"/>
			<style:paragraph-properties fo:margin-left="0.2098in" fo:margin-right="0in" fo:margin-top="0in" fo:margin-bottom="0in" fo:line-height="90%" fo:text-indent="0in"/>
			<style:text-properties fo:color="#ffffff" style:font-name="Lucida Grande" fo:font-size="12pt"/>
		</style:style>
		<style:style style:name="P12" style:family="paragraph">
			<loext:graphic-properties draw:fill-color="#d4a036"/>
			<style:paragraph-properties fo:margin-left="0.2098in" fo:margin-right="0in" fo:margin-top="0in" fo:margin-bottom="0in" fo:line-height="90%" fo:text-indent="0in"/>
			<style:text-properties fo:color="#ffffff" style:font-name="Lucida Grande" fo:font-size="12pt"/>
		</style:style>
		<style:style style:name="P13" style:family="paragraph">
			<loext:graphic-properties draw:fill-color="#ffffff"/>
		</style:style>
		<style:style style:name="T1" style:family="text">
			<style:text-properties officeooo:rsid="004cdaf3"/>
		</style:style>
		<style:style style:name="T2" style:family="text">
			<style:text-properties fo:color="#ffffff" style:font-name="Lucida Grande" fo:font-size="36pt" fo:language="zu" fo:country="ZA" fo:font-weight="bold" style:font-size-asian="36pt" style:font-weight-asian="bold" style:font-size-complex="36pt" style:font-weight-complex="bold"/>
		</style:style>
		<style:style style:name="T3" style:family="text">
			<style:text-properties fo:color="#ffffff" style:font-name="Lucida Grande" fo:font-size="8pt" fo:language="zu" fo:country="ZA" style:font-size-asian="8pt" style:font-size-complex="8pt"/>
		</style:style>
		<text:list-style style:name="L1">
			<text:list-level-style-bullet text:level="1" text:style-name="Bullet_20_Symbols" text:bullet-char="•">
				<style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
					<style:list-level-label-alignment text:label-followed-by="space" fo:text-indent="-0.5in" fo:margin-left="0.5in"/>
				</style:list-level-properties>
			</text:list-level-style-bullet>
			<text:list-level-style-bullet text:level="2" text:style-name="Bullet_20_Symbols" text:bullet-char="◦">
				<style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
					<style:list-level-label-alignment text:label-followed-by="listtab" text:list-tab-stop-position="0.75in" fo:text-indent="-0.25in" fo:margin-left="0.75in"/>
				</style:list-level-properties>
			</text:list-level-style-bullet>
			<text:list-level-style-bullet text:level="3" text:style-name="Bullet_20_Symbols" text:bullet-char="▪">
				<style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
					<style:list-level-label-alignment text:label-followed-by="listtab" text:list-tab-stop-position="1in" fo:text-indent="-0.25in" fo:margin-left="1in"/>
				</style:list-level-properties>
			</text:list-level-style-bullet>
			<text:list-level-style-bullet text:level="4" text:style-name="Bullet_20_Symbols" text:bullet-char="•">
				<style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
					<style:list-level-label-alignment text:label-followed-by="listtab" text:list-tab-stop-position="1.25in" fo:text-indent="-0.25in" fo:margin-left="1.25in"/>
				</style:list-level-properties>
			</text:list-level-style-bullet>
			<text:list-level-style-bullet text:level="5" text:style-name="Bullet_20_Symbols" text:bullet-char="◦">
				<style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
					<style:list-level-label-alignment text:label-followed-by="listtab" text:list-tab-stop-position="1.5in" fo:text-indent="-0.25in" fo:margin-left="1.5in"/>
				</style:list-level-properties>
			</text:list-level-style-bullet>
			<text:list-level-style-bullet text:level="6" text:style-name="Bullet_20_Symbols" text:bullet-char="▪">
				<style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
					<style:list-level-label-alignment text:label-followed-by="listtab" text:list-tab-stop-position="1.75in" fo:text-indent="-0.25in" fo:margin-left="1.75in"/>
				</style:list-level-properties>
			</text:list-level-style-bullet>
			<text:list-level-style-bullet text:level="7" text:style-name="Bullet_20_Symbols" text:bullet-char="•">
				<style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
					<style:list-level-label-alignment text:label-followed-by="listtab" text:list-tab-stop-position="2in" fo:text-indent="-0.25in" fo:margin-left="2in"/>
				</style:list-level-properties>
			</text:list-level-style-bullet>
			<text:list-level-style-bullet text:level="8" text:style-name="Bullet_20_Symbols" text:bullet-char="◦">
				<style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
					<style:list-level-label-alignment text:label-followed-by="listtab" text:list-tab-stop-position="2.25in" fo:text-indent="-0.25in" fo:margin-left="2.25in"/>
				</style:list-level-properties>
			</text:list-level-style-bullet>
			<text:list-level-style-bullet text:level="9" text:style-name="Bullet_20_Symbols" text:bullet-char="▪">
				<style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
					<style:list-level-label-alignment text:label-followed-by="listtab" text:list-tab-stop-position="2.5in" fo:text-indent="-0.25in" fo:margin-left="2.5in"/>
				</style:list-level-properties>
			</text:list-level-style-bullet>
			<text:list-level-style-bullet text:level="10" text:style-name="Bullet_20_Symbols" text:bullet-char="•">
				<style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
					<style:list-level-label-alignment text:label-followed-by="listtab" text:list-tab-stop-position="2.75in" fo:text-indent="-0.25in" fo:margin-left="2.75in"/>
				</style:list-level-properties>
			</text:list-level-style-bullet>
		</text:list-style>
		<text:list-style style:name="L2">
			<text:list-level-style-bullet text:level="1" text:style-name="Bullet_20_Symbols" text:bullet-char="•">
				<style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
					<style:list-level-label-alignment text:label-followed-by="space" fo:text-indent="-0.5in" fo:margin-left="0.5in"/>
				</style:list-level-properties>
			</text:list-level-style-bullet>
			<text:list-level-style-bullet text:level="2" text:style-name="Bullet_20_Symbols" text:bullet-char="◦">
				<style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
					<style:list-level-label-alignment text:label-followed-by="listtab" text:list-tab-stop-position="0.75in" fo:text-indent="-0.25in" fo:margin-left="0.75in"/>
				</style:list-level-properties>
			</text:list-level-style-bullet>
			<text:list-level-style-bullet text:level="3" text:style-name="Bullet_20_Symbols" text:bullet-char="▪">
				<style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
					<style:list-level-label-alignment text:label-followed-by="listtab" text:list-tab-stop-position="1in" fo:text-indent="-0.25in" fo:margin-left="1in"/>
				</style:list-level-properties>
			</text:list-level-style-bullet>
			<text:list-level-style-bullet text:level="4" text:style-name="Bullet_20_Symbols" text:bullet-char="•">
				<style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
					<style:list-level-label-alignment text:label-followed-by="listtab" text:list-tab-stop-position="1.25in" fo:text-indent="-0.25in" fo:margin-left="1.25in"/>
				</style:list-level-properties>
			</text:list-level-style-bullet>
			<text:list-level-style-bullet text:level="5" text:style-name="Bullet_20_Symbols" text:bullet-char="◦">
				<style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
					<style:list-level-label-alignment text:label-followed-by="listtab" text:list-tab-stop-position="1.5in" fo:text-indent="-0.25in" fo:margin-left="1.5in"/>
				</style:list-level-properties>
			</text:list-level-style-bullet>
			<text:list-level-style-bullet text:level="6" text:style-name="Bullet_20_Symbols" text:bullet-char="▪">
				<style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
					<style:list-level-label-alignment text:label-followed-by="listtab" text:list-tab-stop-position="1.75in" fo:text-indent="-0.25in" fo:margin-left="1.75in"/>
				</style:list-level-properties>
			</text:list-level-style-bullet>
			<text:list-level-style-bullet text:level="7" text:style-name="Bullet_20_Symbols" text:bullet-char="•">
				<style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
					<style:list-level-label-alignment text:label-followed-by="listtab" text:list-tab-stop-position="2in" fo:text-indent="-0.25in" fo:margin-left="2in"/>
				</style:list-level-properties>
			</text:list-level-style-bullet>
			<text:list-level-style-bullet text:level="8" text:style-name="Bullet_20_Symbols" text:bullet-char="◦">
				<style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
					<style:list-level-label-alignment text:label-followed-by="listtab" text:list-tab-stop-position="2.25in" fo:text-indent="-0.25in" fo:margin-left="2.25in"/>
				</style:list-level-properties>
			</text:list-level-style-bullet>
			<text:list-level-style-bullet text:level="9" text:style-name="Bullet_20_Symbols" text:bullet-char="▪">
				<style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
					<style:list-level-label-alignment text:label-followed-by="listtab" text:list-tab-stop-position="2.5in" fo:text-indent="-0.25in" fo:margin-left="2.5in"/>
				</style:list-level-properties>
			</text:list-level-style-bullet>
			<text:list-level-style-bullet text:level="10" text:style-name="Bullet_20_Symbols" text:bullet-char="•">
				<style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
					<style:list-level-label-alignment text:label-followed-by="listtab" text:list-tab-stop-position="2.75in" fo:text-indent="-0.25in" fo:margin-left="2.75in"/>
				</style:list-level-properties>
			</text:list-level-style-bullet>
		</text:list-style>
		<style:style style:name="gr1" style:family="graphic">
			<style:graphic-properties draw:stroke="none" draw:fill-color="#861a48" draw:textarea-horizontal-align="justify" draw:textarea-vertical-align="middle" draw:auto-grow-height="false" fo:min-height="0.8402in" fo:min-width="2.4535in" style:run-through="foreground" style:wrap="none" style:vertical-pos="middle" style:vertical-rel="baseline" style:horizontal-pos="from-left" style:horizontal-rel="paragraph" draw:wrap-influence-on-position="once-concurrent" style:flow-with-text="false"/>
		</style:style>
		<style:style style:name="gr2" style:family="graphic">
			<style:graphic-properties draw:stroke="none" draw:fill-color="#e94c64" draw:textarea-horizontal-align="justify" draw:textarea-vertical-align="middle" draw:auto-grow-height="false" fo:min-height="0.8402in" fo:min-width="2.4535in" style:run-through="foreground" style:wrap="none" style:vertical-pos="middle" style:vertical-rel="baseline" style:horizontal-pos="from-left" style:horizontal-rel="paragraph" draw:wrap-influence-on-position="once-concurrent" style:flow-with-text="false"/>
		</style:style>
		<style:style style:name="gr3" style:family="graphic">
			<style:graphic-properties draw:stroke="none" draw:fill-color="#d4a036" draw:textarea-horizontal-align="justify" draw:textarea-vertical-align="middle" draw:auto-grow-height="false" fo:min-height="0.8402in" fo:min-width="2.4535in" style:run-through="foreground" style:wrap="none" style:vertical-pos="middle" style:vertical-rel="baseline" style:horizontal-pos="from-left" style:horizontal-rel="paragraph" draw:wrap-influence-on-position="once-concurrent" style:flow-with-text="false"/>
		</style:style>
		<style:style style:name="gr4" style:family="graphic" style:parent-style-name="Frame">
			<style:graphic-properties draw:fill-color="#ffffff" draw:textarea-horizontal-align="justify" draw:textarea-vertical-align="middle" draw:auto-grow-height="false" fo:min-height="0.6563in" fo:min-width="7.6618in" style:run-through="foreground" style:wrap="run-through" style:number-wrapped-paragraphs="no-limit" style:vertical-pos="from-top" style:vertical-rel="paragraph" style:horizontal-pos="from-left" style:horizontal-rel="paragraph"/>
		</style:style>
	</office:automatic-styles>
  <office:body>
    <office:text>
      <office:forms form:automatic-focus="false" form:apply-design-mode="false"/>
      <text:sequence-decls>
        <text:sequence-decl text:display-outline-level="0" text:name="Illustration"/>
        <text:sequence-decl text:display-outline-level="0" text:name="Table"/>
        <text:sequence-decl text:display-outline-level="0" text:name="Text"/>
        <text:sequence-decl text:display-outline-level="0" text:name="Drawing"/>
        <text:sequence-decl text:display-outline-level="0" text:name="Figure"/>
      </text:sequence-decls>
      <text:p text:style-name="Text_20_body"/>
      <table:table table:name="Table1" table:style-name="Table1">
        <table:table-column table:style-name="Table1.A" table:number-columns-repeated="2"/>
        <table:table-column table:style-name="Table1.C"/>
        <table:table-row>
          <table:table-cell table:style-name="Table1.A1" office:value-type="string">
            {{ macros.tile(1) }}
          </table:table-cell>
          <table:table-cell table:style-name="Table1.A1" office:value-type="string">
            {{ macros.tile(22) }}
          </table:table-cell>
          <table:table-cell table:style-name="Table1.A1" office:value-type="string">
            {{ macros.tile(2) }}
          </table:table-cell>
        </table:table-row>
      </table:table>

      {{ macros.round_table(3) }}

    </office:text>
  </office:body>
</office:document-content>
