{% macro pathogenic_tile(title, subtitle) %}
<text:p text:style-name="P1">
    <draw:custom-shape text:anchor-type="as-char" draw:z-index="0" draw:name="Shape1" draw:style-name="gr1" draw:text-style-name="P6" svg:width="2.4969in" svg:height="0.8835in">
    <text:p text:style-name="P8">
        <text:span text:style-name="T2">{{title}}</text:span>
    </text:p>
    <text:p text:style-name="P9">
        <text:span text:style-name="T3">{{subtitle}}</text:span>
    </text:p>
    <draw:enhanced-geometry svg:viewBox="0 0 21600 21600" draw:mirror-horizontal="false" draw:mirror-vertical="false" draw:path-stretchpoint-x="10800" draw:path-stretchpoint-y="10800" draw:text-areas="?f3 ?f4 ?f5 ?f6" draw:type="round-rectangle" draw:modifiers="1852.39968528718" draw:enhanced-path="M ?f7 0 X 0 ?f8 L 0 ?f9 Y ?f7 21600 L ?f10 21600 X 21600 ?f9 L 21600 ?f8 Y ?f10 0 Z N">
        <draw:equation draw:name="f0" draw:formula="45"/>
        <draw:equation draw:name="f1" draw:formula="$0 *sin(?f0 *(pi/180))"/>
        <draw:equation draw:name="f2" draw:formula="?f1 *3163/7636"/>
        <draw:equation draw:name="f3" draw:formula="left+?f2 "/>
        <draw:equation draw:name="f4" draw:formula="top+?f2 "/>
        <draw:equation draw:name="f5" draw:formula="right-?f2 "/>
        <draw:equation draw:name="f6" draw:formula="bottom-?f2 "/>
        <draw:equation draw:name="f7" draw:formula="left+$0 "/>
        <draw:equation draw:name="f8" draw:formula="top+$0 "/>
        <draw:equation draw:name="f9" draw:formula="bottom-$0 "/>
        <draw:equation draw:name="f10" draw:formula="right-$0 "/>
        <draw:handle draw:handle-position="$0 top" draw:handle-switched="true" draw:handle-range-x-minimum="0" draw:handle-range-x-maximum="10800"/>
    </draw:enhanced-geometry>
    </draw:custom-shape>
</text:p>
{% endmacro %}


{% macro likely_pathogenic_tile(title, subtitle) %}
<text:p text:style-name="P2">
    <draw:custom-shape text:anchor-type="as-char" draw:z-index="1" draw:name="Shape1" draw:style-name="gr2" draw:text-style-name="P7" svg:width="2.4969in" svg:height="0.8835in">
    <text:p text:style-name="P8">
        <text:span text:style-name="T2">{{title}}</text:span>
    </text:p>
    <text:p text:style-name="P9">
        <text:span text:style-name="T3">{{subtitle}}</text:span>
    </text:p>
    <draw:enhanced-geometry svg:viewBox="0 0 21600 21600" draw:mirror-horizontal="false" draw:mirror-vertical="false" draw:path-stretchpoint-x="10800" draw:path-stretchpoint-y="10800" draw:text-areas="?f3 ?f4 ?f5 ?f6" draw:type="round-rectangle" draw:modifiers="1852.39968528718" draw:enhanced-path="M ?f7 0 X 0 ?f8 L 0 ?f9 Y ?f7 21600 L ?f10 21600 X 21600 ?f9 L 21600 ?f8 Y ?f10 0 Z N">
        <draw:equation draw:name="f0" draw:formula="45"/>
        <draw:equation draw:name="f1" draw:formula="$0 *sin(?f0 *(pi/180))"/>
        <draw:equation draw:name="f2" draw:formula="?f1 *3163/7636"/>
        <draw:equation draw:name="f3" draw:formula="left+?f2 "/>
        <draw:equation draw:name="f4" draw:formula="top+?f2 "/>
        <draw:equation draw:name="f5" draw:formula="right-?f2 "/>
        <draw:equation draw:name="f6" draw:formula="bottom-?f2 "/>
        <draw:equation draw:name="f7" draw:formula="left+$0 "/>
        <draw:equation draw:name="f8" draw:formula="top+$0 "/>
        <draw:equation draw:name="f9" draw:formula="bottom-$0 "/>
        <draw:equation draw:name="f10" draw:formula="right-$0 "/>
        <draw:handle draw:handle-position="$0 top" draw:handle-switched="true" draw:handle-range-x-minimum="0" draw:handle-range-x-maximum="10800"/>
    </draw:enhanced-geometry>
    </draw:custom-shape>
</text:p>
{% endmacro %}

{% macro not_pathogenic_tile(title, subtitle) %}
<text:p text:style-name="P2">
    <draw:custom-shape text:anchor-type="as-char" draw:z-index="2" draw:name="Shape1" draw:style-name="gr3" draw:text-style-name="P8" svg:width="2.4969in" svg:height="0.8835in">
    <text:p text:style-name="P8">
        <text:span text:style-name="T2">{{title}}</text:span>
    </text:p>
    <text:p text:style-name="P9">
        <text:span text:style-name="T3">{{subtitle}}</text:span>
    </text:p>
    <draw:enhanced-geometry svg:viewBox="0 0 21600 21600" draw:mirror-horizontal="false" draw:mirror-vertical="false" draw:path-stretchpoint-x="10800" draw:path-stretchpoint-y="10800" draw:text-areas="?f3 ?f4 ?f5 ?f6" draw:type="round-rectangle" draw:modifiers="1852.39968528718" draw:enhanced-path="M ?f7 0 X 0 ?f8 L 0 ?f9 Y ?f7 21600 L ?f10 21600 X 21600 ?f9 L 21600 ?f8 Y ?f10 0 Z N">
        <draw:equation draw:name="f0" draw:formula="45"/>
        <draw:equation draw:name="f1" draw:formula="$0 *sin(?f0 *(pi/180))"/>
        <draw:equation draw:name="f2" draw:formula="?f1 *3163/7636"/>
        <draw:equation draw:name="f3" draw:formula="left+?f2 "/>
        <draw:equation draw:name="f4" draw:formula="top+?f2 "/>
        <draw:equation draw:name="f5" draw:formula="right-?f2 "/>
        <draw:equation draw:name="f6" draw:formula="bottom-?f2 "/>
        <draw:equation draw:name="f7" draw:formula="left+$0 "/>
        <draw:equation draw:name="f8" draw:formula="top+$0 "/>
        <draw:equation draw:name="f9" draw:formula="bottom-$0 "/>
        <draw:equation draw:name="f10" draw:formula="right-$0 "/>
        <draw:handle draw:handle-position="$0 top" draw:handle-switched="true" draw:handle-range-x-minimum="0" draw:handle-range-x-maximum="10800"/>
    </draw:enhanced-geometry>
    </draw:custom-shape>
</text:p>
{% endmacro %}

{% macro tile(level) %}
    {% if level <= 1  %}
        {{ pathogenic_tile(level, 'Pathogenic') }}
    {% elif level <= 2 %}
        {{ likely_pathogenic_tile(level, 'Likely pathogenic') }}
    {% else %}
        {{ not_pathogenic_tile(level, 'Uncertain significance') }}
    {% endif %}
{% endmacro %}


{% macro round_table(number_of_rows) %}
  {% set h=0.25*number_of_rows+0.25 %}
  <text:p text:style-name="P3">
<draw:custom-shape text:anchor-type="paragraph" draw:z-index="3" draw:name="Shape2" draw:style-name="gr4" draw:text-style-name="P13" svg:width="7.7331in" svg:height="{{h}}in" svg:x="0.2661in" svg:y="0.5228in">
  <loext:table table:name="Table2" table:style-name="Table2">
    <loext:table-column table:style-name="Table2.A"/>
    <loext:table-column table:style-name="Table2.B"/>
    <loext:table-column table:style-name="Table2.C"/>
    <loext:table-row>
      <loext:table-cell table:style-name="Table2.A1" office:value-type="string">
        <text:p text:style-name="P4">Associated diseases</text:p>
      </loext:table-cell>
      <loext:table-cell table:style-name="Table2.A1" office:value-type="string">
        <text:p text:style-name="P4">Inheritance</text:p>
      </loext:table-cell>
      <loext:table-cell table:style-name="Table2.C1" office:value-type="string">
        <text:p text:style-name="P4">Variant</text:p>
      </loext:table-cell>
    </loext:table-row>
    <loext:table-row table:style-name="Table2.2">
      <loext:table-cell table:style-name="Table2.A2" office:value-type="string">
        <text:list xml:id="list1015546588" text:style-name="L1">
          <text:list-item>
            <text:p text:style-name="P7">
              <text:span text:style-name="T1">disease</text:span>
            </text:p>
          </text:list-item>
        </text:list>
      </loext:table-cell>
      <loext:table-cell table:style-name="Table2.A2" office:value-type="string">
        <text:p text:style-name="P5">inheritance</text:p>
      </loext:table-cell>
      <loext:table-cell table:style-name="Table2.C2" office:value-type="string">
        <text:list xml:id="list3915079091" text:style-name="L2">
          <text:list-item>
            <text:p text:style-name="P6">
              <text:span text:style-name="T1">rs</text:span>
            </text:p>
          </text:list-item>
          <text:list-item>
            <text:p text:style-name="P6">
              <text:span text:style-name="T1">rs2</text:span>
            </text:p>
          </text:list-item>
        </text:list>
      </loext:table-cell>
    </loext:table-row>
  </loext:table>
  <text:p text:style-name="Frame_20_contents"/>
  <draw:enhanced-geometry svg:viewBox="0 0 21600 21600" draw:path-stretchpoint-x="10800" draw:path-stretchpoint-y="10800" draw:text-areas="?f3 ?f4 ?f5 ?f6" draw:mirror-horizontal="false" draw:mirror-vertical="false" draw:type="round-rectangle" draw:modifiers="3600" draw:enhanced-path="M ?f7 0 X 0 ?f8 L 0 ?f9 Y ?f7 21600 L ?f10 21600 X 21600 ?f9 L 21600 ?f8 Y ?f10 0 Z N">
    <draw:equation draw:name="f0" draw:formula="45"/>
    <draw:equation draw:name="f1" draw:formula="$0 *sin(?f0 *(pi/180))"/>
    <draw:equation draw:name="f2" draw:formula="?f1 *3163/7636"/>
    <draw:equation draw:name="f3" draw:formula="left+?f2 "/>
    <draw:equation draw:name="f4" draw:formula="top+?f2 "/>
    <draw:equation draw:name="f5" draw:formula="right-?f2 "/>
    <draw:equation draw:name="f6" draw:formula="bottom-?f2 "/>
    <draw:equation draw:name="f7" draw:formula="left+$0 "/>
    <draw:equation draw:name="f8" draw:formula="top+$0 "/>
    <draw:equation draw:name="f9" draw:formula="bottom-$0 "/>
    <draw:equation draw:name="f10" draw:formula="right-$0 "/>
    <draw:handle draw:handle-position="$0 top" draw:handle-switched="true" draw:handle-range-x-minimum="0" draw:handle-range-x-maximum="10800"/>
  </draw:enhanced-geometry>
</draw:custom-shape>
</text:p>
{% endmacro %}
