 
<table:table table:name="Table" table:style-name="Table">
    {# Columns of the table #}
    {% for width in [20, 20, 20] %}
    <table:table-column table:style-name="IseqTableColumn{{width}}" />
    {% endfor %}
    <table:table-row><text:p> </text:p>
        {% for i in ["Olive", "Maroon", "BeeYellow"]%}
            <table:table-cell table:style-name="IseqTableCellWarning" office:value-type="string">
            <text:p>
            {{ draw(color=i, height=1, width=2.0, text=[{"content": "1", "size": 20}, {"content": "Pathogenic", "size": 12}]) }}
            </text:p>
            <text:p></text:p> 
            <text:p></text:p> 
            <text:p></text:p> 
            <text:p></text:p> 
            <text:p></text:p> 
            <text:p></text:p>
            </table:table-cell>
        {% endfor%}
     
    </table:table-row>
</table:table>