<table:table table:name="Table" table:style-name="Table">
    {# Columns of the table #}
    {% for width in [20, 20, 20, 20, 20, 20, 20] %}
    <table:table-column table:style-name="IseqTableColumn{{width}}" />
    {% endfor %}
    <table:table-row><text:p> </text:p>

        <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
            <text:p > COL3A1 </text:p>
        </table:table-cell>

        <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
            <text:p > ACMG </text:p>
        </table:table-cell>

        <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
            <text:p >
                {{ draw(color="Olive", PosOrNeg="Pos", text=[{"content": "Uncertain Significance", "size": 10}], height=0.3, width=1.2 ) }}
                    </text:p>
        </table:table-cell>

        <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
            <text:p > Score: 0,5 </text:p>
        </table:table-cell>

        <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
            <text:p >Clinvar</text:p>
        </table:table-cell>

        <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
            <text:p >
                <draw:custom-shape text:anchor-type="paragraph" draw:z-index="0" draw:name="Shape1" draw:style-name="gr{{i}}" svg:width="2in" svg:height="0.7in" svg:x="0.0874in" svg:y="0.0055in">
                    <text:p>
                        <text:s text:c="3"/>
                        <text:span text:style-name="Icon12">Pathogenic</text:span>
                    </text:p>
                    <draw:enhanced-geometry svg:viewBox="0 0 21600 21600" draw:path-stretchpoint-x="10800" draw:path-stretchpoint-y="10800" draw:text-areas="?f3 ?f4 ?f5 ?f6" draw:type="round-rectangle" draw:modifiers="3600" draw:enhanced-path="M ?f7 0 X 0 ?f8 L 0 ?f9 Y ?f7 21600 L ?f10 21600 X 21600 ?f9 L 21600 ?f8 Y ?f10 0 Z N">
                        <draw:equation draw:name="f0" draw:formula="45"/>
                        <draw:equation draw:name="f1" draw:formula="$0 *sin(?f0 *(pi/180))"/>
                        <draw:equation draw:name="f2" draw:formula="?f1 *3163/7636"/>
                        <draw:equation draw:name="f3" draw:formula="left+?f2 "/>
                        <draw:equation draw:name="f4" draw:formula="top+?f2 "/>
                        <draw:equation draw:name="f5" draw:formula="right-?f2 "/>
                        <draw:equation draw:name="f6" draw:formula="bottom-?f2 "/>
                        <draw:equation draw:name="f7" draw:formula="left+$0 "/>
                        <draw:equation draw:name="f8" draw:formula="top+$0 "/>
                        <draw:equation draw:name="f9" draw:formula="bottom-$0 "/>
                        <draw:equation draw:name="f10" draw:formula="right-$0 "/>
                        <draw:handle draw:handle-position="$0 top" draw:handle-switched="true" draw:handle-range-x-minimum="0" draw:handle-range-x-maximum="10800"/>
                    </draw:enhanced-geometry>
                </draw:custom-shape>
            </text:p>
        </table:table-cell>

    </table:table-row>
</table:table>
