<text:p> </text:p>
<table:table table:name="Table" table:style-name="Table">

  <table:table-column table:style-name="IseqTableColumn" />
  <table:table-column table:style-name="IseqTableColumn" />
  <table:table-column table:style-name="IseqTableColumn" />
  <table:table-column table:style-name="IseqTableColumn" />
  <table:table-column table:style-name="IseqTableColumn" />
  <table:table-column table:style-name="IseqTableColumn" />

  <table:table-header-rows>

    <table:table-row table:style-name="IseqTableRow">

    {%for measure in ["Gene", "Number of known, pathogenic single nucleotide variants*","Detection chance of the variants","[%] of bases with coverage > 10 in region defined by Gene ID", "Gene ID", "Transcript ID"]%}
      <table:table-cell table:style-name="IseqTableSubheader" office:value-type="string">
        <text:p>{{measure}}</text:p>
      </table:table-cell>
    {% endfor %}
    </table:table-row>
  </table:table-header-rows>

  {% for record in genes %}
  <table:table-row table:style-name="IseqTableRow"><text:p> </text:p>
    <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
      <text:p>{{record.gene}}</text:p>
    </table:table-cell>
    <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
      <text:p>{{record.count}}</text:p>
    </table:table-cell>
    <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
      <text:p>{{record.variant_chance}}</text:p>
    </table:table-cell>
    <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
      <text:p>{{record.percentage}}</text:p>
    </table:table-cell>
    <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
      <text:p>{{record.gene_id}}</text:p>
    </table:table-cell>
    <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
      <text:p>{{record.transcript_id}}</text:p>
    </table:table-cell>
  </table:table-row>
  {% endfor %}


{# dlaczego to nie dziala zamiast tego wyzej!#}
{# {% for record in genes %}
  <table:table-row table:style-name="IseqTableRow"><text:p> </text:p>

    {% for i in [gene, variant_chance, count, percentage, gene_id, transcript_id] %}
      <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
        <text:p>{{record.i}}</text:p>
      </table:table-cell>
    {% endfor %}
  </table:table-row>

  {% endfor %} #}

<text:p> </text:p>
</table:table>
<text:p>*Among variants presented in Clinvar database, classified as pathogenic or likely pathogenic, confirmed in clinical testing. </text:p>

