<table:table table:style-name="IseqTable">
  <table:table-column table:style-name="IseqTableColumn"/>
  <table:table-header-rows>
  <table:table-row table:style-name="IseqTableRow">
    <table:table-cell table:style-name="IseqTableHeader22pt" office:value-type="string">
      <text:p>{{model.trait_title|replace("_", " ")}}</text:p>
    </table:table-cell>
  </table:table-row>
  </table:table-header-rows>
  <table:table-row table:style-name="IseqTableRow">
    <table:table-cell table:style-name="IseqTableCell"  office:value-type="string">
    <text:p>{{model.about}}</text:p>
    </table:table-cell>
  </table:table-row>
</table:table>


