<table:table table:name="Table" table:style-name="IseqTable"> 
{% set recommendations = model.what_you_can_do.values()|list %}
{% set recommendation = recommendations[0] %}
{% set recommend_keys = recommendation.keys()|list %}
{% set recommend_values = recommendation.values()|list %}
{% set num = recommend_keys|length %}
{% if num is even  %}
{# <table:table table:name="Table" table:style-name="IseqTable"> #}
{# Number of columns #}

  {% for n in range(2) %}
    <table:table-column table:style-name="IseqTableColumn" />
  {% endfor %}

  <table:table-header-rows>
  
{# Header of the table#}
    <table:table-row table:style-name="IseqTableRow">
    <table:table-cell table:style-name="IseqTableHeader" table:number-columns-spanned="2" office:value-type="string">
        <text:p>What you can do</text:p>
        </table:table-cell>
        {#<table:covered-table-cell/>#}
    </table:table-row>
    </table:table-header-rows>

{%for i in range(0,num,2)%}

{# Header of each column #}
    <table:table-row table:style-name="IseqTableRow">
    {% for title in recommend_keys[i:i+2] %}
      <table:table-cell table:style-name="IseqTableSubheader" office:value-type="string">
        <text:p>{{title}}</text:p>   
      </table:table-cell>
    {%endfor%}
    </table:table-row>
    
    <table:table-row table:style-name="IseqTableRow">
    {% for content in recommend_values[i:i+2] %}
      <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
        <text:p>{{content}}</text:p>
      </table:table-cell>
    {%endfor%}
    </table:table-row>
{%endfor%}

{# odd number of recommendations #}
{% else %}
  
<table:table-header-rows>

{# Header of the table#}
    <table:table-row table:style-name="IseqTableRow">
    <table:table-cell table:style-name="IseqTableHeader" office:value-type="string">
        <text:p>What you can do</text:p>
    </table:table-cell>
    </table:table-row>
    </table:table-header-rows>

{%for i in range(0,num)%}
{# Header of each column #}
    <table:table-row table:style-name="IseqTableRow">
    <table:table-cell table:style-name="IseqTableSubheader" office:value-type="string">
      <text:p>{{recommend_keys[i]}}</text:p>
    </table:table-cell>
    </table:table-row>
    <table:table-row table:style-name="IseqTableRow">
    <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
      <text:p>{{recommend_values[i]}}</text:p>
    </table:table-cell>
    </table:table-row>
{%endfor%}
{%endif%}
</table:table>
