{% include 'iseq-styles/main.style-template.jinja' %}

{# master styles with page numbering and page landscape orientation #}
<office:master-styles>
  {% include 'iseq-styles/master.styles-template-portrait.jinja' %}
</office:master-styles>

<office:body>
<office:text text:use-soft-page-breaks="true"> 

{% include 'iseq-styles/logo.template.jinja' %}
{% include '1-header-template.jinja' %}

{% for model in mobigen %}
  <text:p  text:style-name="pagebreak"></text:p> 
  {% set model = model%}
  {#{% set i = loop.index0%}#} 
  {% set model_name = model.module.split('.')[-1] %}
  {% set picture_name = model_name+'.svg' %}
  {% include '2-about-table-template.jinja' %}
  {% include '3-science-table-template.jinja' %}
  {% include '4-result-table-template.jinja' %}
  <text:p  text:style-name="pagebreak"></text:p>
  {% include '5-recommendations-table-template.jinja'%}
  {#<text:p  text:style-name="pagebreak"></text:p>#}
  {% include '6-references-table-template.jinja' %}
{% endfor %}
<text:p  text:style-name="pagebreak"></text:p>
{% include '7-genes-table-template.jinja' %}

</office:text>
</office:body>

</office:document-content>
