<text:p> </text:p>
<table:table table:name="Table" table:style-name="IseqTable">
  <table:table-column table:style-name="IseqTableColumn" />
  <table:table-column table:style-name="IseqTableColumn" />
  <table:table-header-rows>
    <table:table-row table:style-name="IseqTableRow">
      <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
        <text:p >Measure</text:p>
      </table:table-cell>
      <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
       <text:p>Value</text:p>
      </table:table-cell>

    </table:table-row>
  </table:table-header-rows>
  {% for measure in coverage %}
  <table:table-row table:style-name="IseqTableRow"><text:p> </text:p>
    <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
      <text:p>{{measure.name}}</text:p>
    </table:table-cell>
    <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
      <text:p>{{measure.value}}</text:p>
    </table:table-cell>
  </table:table-row>
  {% endfor %}
</table:table>
<text:p> </text:p>

