<text:p> </text:p>


{% for class, metric in coverage|groupby("metric_class") %}

<table:table table:name="Table" table:style-name="Table">

  <table:table-column table:style-name="IseqTableColumn20" />
  <table:table-column table:style-name="IseqTableColumn20" />
  <table:table-column table:style-name="IseqTableColumn20" />
  <table:table-column table:style-name="IseqTableColumn40" />

  <table:table-header-rows>

  {# Header of the table #}
      <table:table-row table:style-name="IseqTableRow">
      <table:table-cell table:style-name="IseqTableHeader" table:number-columns-spanned="4" office:value-type="string">
        <text:p>{{class|capitalize}} metrics</text:p>
        </table:table-cell>
        <table:covered-table-cell/>
      </table:table-row>

  {# Header of each column #}
      <table:table-row table:style-name="IseqTableRow">
      {%for columnname in ["Metric", "Computed value", "Expected value", "Description"] %}
        <table:table-cell table:style-name="IseqTableSubheader" office:value-type="string">
        <text:p>{{columnname}}</text:p>
        </table:table-cell>
      {% endfor %}
      </table:table-row>

  </table:table-header-rows>


    {% for item in metric %}
      <table:table-row table:style-name="IseqTableRow">


      <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
        <text:p>{{item.name}}</text:p>
      </table:table-cell>

      {% if not item.is_warning %}
        <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
      {% elif item.is_error %}
        <table:table-cell table:style-name="IseqTableCellError" office:value-type="string">
      {% else %}
        <table:table-cell table:style-name="IseqTableCellWarning" office:value-type="string">
      {% endif %}
      <text:p>{{item.computed_value}}</text:p>
            </table:table-cell>

      <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
      {% if item.expected|e != "None" %}
        <text:p>{{item.expected|e}}</text:p>
      {% else %}
        <text:p> </text:p>
      {% endif %}
      </table:table-cell>

      <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
        <text:p>{{item.description}}</text:p>
      </table:table-cell>

      </table:table-row>
    {% endfor %}

</table:table>
<text:p> </text:p>
{% endfor %}
<text:p> </text:p>
