
<text:p></text:p>
<table:table table:style-name="IseqTable">
  <table:table-column table:style-name="IseqTableColumn" />
    <table:table-row>
      <table:table-cell table:style-name="IseqTableHeader" office:value-type="string">
        <text:p>Warianty zaklasyfikowane jako {{var_table_header}} wg rekomendacji ACMG</text:p>
      </table:table-cell>
    </table:table-row>
  <table:table-row>
    <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
    <text:p>Nie zidentyfikowano wariantów spełniających odpowiednie kryteria.</text:p>
    </table:table-cell>
  </table:table-row>
</table:table>
