<table:table table:name="Table" table:style-name="IseqTable">
{# Number of columns #}
  {%for i in range(5)%}
    <table:table-column table:style-name="IseqTableColumn" />
  {% endfor %}
  <table:table-header-rows>

{# Header of the table#}
    <table:table-row table:style-name="IseqTableRow">
    <table:table-cell table:style-name="IseqTableHeader" table:number-columns-spanned="6" office:value-type="string">
      <text:p>Warianty zaklasyfikowane jako {{var_table_header}} wg rekomendacji ACMG</text:p>
      </table:table-cell>
      <table:covered-table-cell/>
    </table:table-row>

{# Header of each column #}
    <table:table-row table:style-name="IseqTableRow">
    {%for cell in [
                  ["Nazwa genu", "status w ClinVar", "status wg rekomendacji ACMG", "ACMG score"],
                  ["Nazwy powiązanych chorób"],
                  ["Zmiana sekwencji", "wpływ na produkt białkowy", "pozycja"],
                  ["Parametry wariantu"],
                  ["Identyfikator wariantu","Genotyp", "Model dziedziczenia"]]
                  %}
      <table:table-cell table:style-name="IseqTableSubheader" office:value-type="string">
      {%for element in cell%}      
            <text:p>{{element}}{{ "; " if not loop.last }}</text:p>   
      {% endfor %}
      </table:table-cell>
    {% endfor %}
    </table:table-row>

  </table:table-header-rows>

  {% for variant in var_variants_list %}
  <table:table-row table:style-name="IseqTableRow">

{# first cell #}

    <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
      <text:p>
        <text:span text:style-name="b">{{variant.ISEQ_GENES_NAMES}}</text:span>;
        {% set significance_list = variant.ISEQ_AGGREGATED_CLINVAR_SIGNIFICANCE.split(':')%}
        {% for significance in significance_list%}
          {{dict[significance | replace(" ", "_") | replace("^", "_") | lower]}}{{ ", " if not loop.last }}
        {% endfor %}
        {% if variant.ISEQ_AGGREGATED_CLINVAR_SIGNIFICANCE != '' and variant.ISEQ_AGGREGATED_CLINVAR_SIGNIFICANCE is defined %}
          w Clinvar;
        {% endif %}
        {{dict[variant.ISEQ_ACMG_SUMMARY_CLASSIFICATION | replace(" ", "_") | replace("^", "_") | lower]}} wg rekomendacji ACMG;
        {{variant.ISEQ_ACMG_SUMMARY_SCORE}}
       </text:p>
    </table:table-cell>

{# second cell #}
      <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
      {% if variant.ISEQ_DISEASE_GHR != "" and variant.ISEQ_DISEASE_GHR is defined%}
        <text:p>{{variant.ISEQ_DISEASE_GHR | replace("^", ", ") | replace("_", " ")}}</text:p>
      {#{% elif variant.ISEQ_VARIANT_CLINVAR_DISEASES != "" and variant.ISEQ_VARIANT_CLINVAR_DISEASES is defined%}
        <text:p>{{variant.ISEQ_VARIANT_CLINVAR_DISEASES | replace(":not_provided", "")| replace(":", ", ") | replace("^", ", ") | replace("_", " ")}}</text:p>
      {% elif variant.MITOMAP_DISEASE != "" and variant.MITOMAP_DISEASE is defined%}
        <text:p>{{variant.MITOMAP_DISEASE | replace("^", ", ") | replace("_", " ")}}</text:p>
      {% elif variant.ISEQ_VARIANT_CLINVAR_DISEASES_INCLUDED != "" and variant.ISEQ_VARIANT_CLINVAR_DISEASES_INCLUDED is defined%}
          <text:p>{{variant.ISEQ_VARIANT_CLINVAR_DISEASES_INCLUDED | replace("^", ", ") | replace("_", " ")}}</text:p>
      {% elif variant.ISEQ_CLINVAR_DISEASES != "" and variant.ISEQ_CLINVAR_DISEASES is defined%}
          <text:p>{{variant.ISEQ_CLINVAR_DISEASES | replace("^", ", ") | replace("_", " ")}}</text:p>
      {% elif variant.ISEQ_HPO_DISEASES != "" and variant.ISEQ_HPO_DISEASES is defined%}
        <text:p>{{variant.ISEQ_HPO_DISEASES | replace("^", ", ") | replace("_", " ")}}</text:p> #}
      {% endif %}
    </table:table-cell> 

{# third cell #}
    <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
    {% set annotation_list = variant.ANN.split(',')[0].split('|') %}
    {% set protein_impact_list = annotation_list[1].split('&') %}
      <text:p>{{annotation_list[6]}}; {{annotation_list[9]}}; {{annotation_list[10]}}; {{dict[annotation_list[2] | replace(" ", "_") | replace("^", "_") | lower]}}:
      {% for protein_impact in protein_impact_list%}
         {{dict[protein_impact | replace(" ", "_") | replace("^", "_") | lower]}}{{ ", " if not loop.last }}{{ "; " if loop.last }}
      {% endfor %}</text:p>
      <text:p>{{variant.CHROM}}:{{variant.POS}}</text:p>
    </table:table-cell>

{# fourth cell #}
    <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
      <text:p>
      {% if variant.MITOMAP_AF != "" and variant.MITOMAP_AF is defined%}
        MITOMAP={{variant.MITOMAP_AF| replace("1.000", "1") | replace("0.000", "0")}};
      {% endif %}
      {% if variant.ISEQ_GNOMAD_EXOMES_AF_nfe != "" and variant.ISEQ_GNOMAD_EXOMES_AF_nfe is defined%}
        WES-AF={{variant.ISEQ_GNOMAD_EXOMES_AF_nfe | replace("1.000", "1") }};
      {% endif %}
      {% if (variant.ISEQ_GNOMAD_GENOMES_AF_nfe != "" and variant.ISEQ_GNOMAD_GENOMES_AF_nfe is defined) or (variant.ISEQ_GNOMAD_GENOMES_V3_AF_nfe != "" and variant.ISEQ_GNOMAD_GENOMES_V3_AF_nfe is defined) %}
        WGS-AF={{[variant.ISEQ_GNOMAD_GENOMES_AF_nfe|default(0)|float, variant.ISEQ_GNOMAD_GENOMES_V3_AF_nfe|default(0)|float] |max | replace("1.000", "1") }};
      {% endif %}


      {% set AF_max = [variant.ISEQ_GNOMAD_EXOMES_popmax_AF|default(0)|float, variant.ISEQ_GNOMAD_GENOMES_popmax_AF|default(0)|float, variant.ISEQ_EXAC_POPMAX_AF|default(0)|float, variant.ISEQ_GNOMAD_GENOMES_V3_popmax_AF|default(0)|float] | max %}
      {% if AF_max > 0 %}
        maxAF={{ AF_max }};
        {%for annotation in  [variant.ISEQ_GNOMAD_EXOMES_popmax_AF,
                              variant.ISEQ_GNOMAD_GENOMES_popmax_AF,
                              variant.ISEQ_EXAC_POPMAX_AF,
                              variant.ISEQ_GNOMAD_GENOMES_V3_popmax_AF]%}
          {% if annotation is defined and annotation|float == AF_max %}
                maxPOP={{annotation|upper}};
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if variant.ISEQ_SIFT4G_MIN != "" and variant.ISEQ_SIFT4G_MIN is defined%}
        SIFT={{variant.ISEQ_SIFT4G_MIN| replace("1.000", "1") | replace("0.000", "0")}};
      {% endif %}
      {% if variant.PhastCons100way != "" and variant.PhastCons100way is defined%}
        PhastCons={{variant.PhastCons100way}};
      {% endif %}
      {% if variant.ISEQ_GERP != "" and variant.ISEQ_GERP is defined%}
        GERP={{variant.ISEQ_GERP| replace("1.000", "1") | replace("0.000", "0")}}.
      {% endif %}
      {% if variant.ISEQ_M_CAP != "" and variant.ISEQ_M_CAP is defined%}
        MCAP={{variant.ISEQ_M_CAP}};
      {% endif %}
      </text:p>
    </table:table-cell>

{# fifth cell #}
   <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
      {% if variant.ISEQ_DBSNP_RS != ""%}
        <text:p>{{variant.ISEQ_DBSNP_RS}};</text:p>
      {% endif %}
      <text:p>
      {% if variant.GT_GT == "0,/,1" 
          or  variant.GT_GT == "0/1" 
          or variant.GT_GT =="0|1" 
          or variant.GT_GT =="1|0" 
          or variant.GT_GT == "0,|,1"
          or variant.GT_GT == "1,|,0"%}
          Heterozygota {{variant.REF}}/{{variant.ALT}};
      {% elif  variant.GT_GT == "1,/,1" 
      or variant.GT_GT == "1/1" 
      or variant.GT_GT =="1|1" 
      or variant.GT_GT =="1,|,1" %}
          Homozygota {{variant.ALT}}/{{variant.ALT}};
      {% else %}
        Genotyp nieznany;
      {% endif %}
      </text:p>
    {% set inheritance_mode_list = variant.ISEQ_HPO_INHERITANCE.replace('^', ' ').split(' ') %}
    {% for inheritance_mode in inheritance_mode_list%}
       <text:p>{{dict[inheritance_mode | replace(" ", "_") | replace("^", "_") | lower]}}{{ "; " if not loop.last }}</text:p>
    {% endfor %}
    </table:table-cell>

  </table:table-row>
  {% endfor %}
</table:table>
