{#T TABLES CAPTION #}
<text:p></text:p>
  <table:table table:style-name="IseqTable">
    <table:table-column />
    <table:table-column />
    <table:table-row>
    <table:table-cell table:style-name="IseqTableHeader" table:number-columns-spanned="2" office:value-type="string">
      <text:p>Opisy w tabelach</text:p>
      </table:table-cell>
      <table:covered-table-cell/>
    </table:table-row>
    <table:table-row>
    <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
    <text:p>MITOMAP – częstość allelu w populacji MITOMAP</text:p>
    <text:p>WES-AF – częstość allelu w populacji NFE, której eksomy zostały zsekwencjonowane w projekcie gnomAD</text:p>
    <text:p>WGS-AF – częstość allelu w populacji NFE, której genomy zostały zsekwencjonowane w projekcie gnomAD (wartość maksymalna z wersji 2 i 3)</text:p>
    <text:p>maxAF – maksymalna częstość allelu w populacjach projektów ExAC i gnomAD</text:p>
    <text:p>maxPOP – populacja o największej częstości allelu</text:p>
    </table:table-cell>
  <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
  <text:p>AFR – Afrykańczycy i Amerykanie pochodzenia afrykańskiego (African/African American)</text:p>
  <text:p>ASJ – Żydzi aszkenazyjscy (Ashkenazi Jewish)</text:p>
  <text:p>AMR – Latynosi (Latino)</text:p>
  <text:p>EAS – Azjaci z Azji Wschodniej (East Asian)</text:p>
  <text:p>FIN – Finowie (Finnish)</text:p>
  <text:p>NFE – Europejczycy z wyłączeniem Finów (Non-Finnish European)</text:p>
  <text:p>SAS – Azjaci z Azji Południowej(South Asian)</text:p>
  <text:p>OTH – Niesklasyfikowani (Other)</text:p>
  </table:table-cell>
    </table:table-row>
    <table:table-row>
    <table:table-cell table:style-name="IseqTableCell" table:number-columns-spanned="2" office:value-type="string">
      <text:p>SIFT – przewidywana patogenność, wysoka: {{"<"|e}} 0.11</text:p>
      <text:p>PhastCons – konserwacja ewolucyjna, wysoka: {{">"|e}} 0.93</text:p>
      <text:p>GERP – konserwacja ewolucyjna, wysoka: {{">"|e}} 3.26</text:p>
      <text:p>MCAP – przewidywana patogenność, wysoka: {{"<"|e}} 0.95</text:p>
      <text:p>ACMG score – przewidywana patogenność, wariant patogenny: {{">"|e}} 1.25, prawdopodobnie
patogenny: {{">"|e}} 0.75, niepewny: {{"<"|e}} 0.75 oraz {{">"|e}} -0.25, prawdopodobnie niepatogenny: {{"<"|e}} -0.25; niepatogenny: {{"<"|e}} -1 </text:p>
      {# <text:p>AT –  number of gene transcripts affected by a variant / total number of gene transcripts</text:p> #}
      {# <text:p>APCT –  number of protein coding gene transcripts affected by a variant / total number of protein coding gene transcripts</text:p> #}
    </table:table-cell>
    <table:covered-table-cell/>
    </table:table-row>
    <table:table-row>
    <table:table-cell table:style-name="IseqTableCell" table:number-columns-spanned="2" office:value-type="string">
        <text:p>Genom referencyjny: <text:span text:style-name="b">GRCh38</text:span></text:p>
    </table:table-cell>
    <table:covered-table-cell/>
    </table:table-row>
  </table:table>
  <text:p></text:p>

{# METHODS #}
  <text:p></text:p>
  <table:table table:style-name="IseqTable">
    <table:table-column table:style-name="IseqTableColumn" />
    <table:table-header-rows>
      <table:table-row>
        <table:table-cell table:style-name="IseqTableHeader" office:value-type="string">
          <text:p>Metody</text:p>
        </table:table-cell>
      </table:table-row>
    </table:table-header-rows>
    <table:table-row>
      <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
      <text:p text:style-name="justify">{{seq_type.methods}} </text:p>
      </table:table-cell>
    </table:table-row>
  </table:table>
  <text:p></text:p>

{# LIMITATION OF THE METHOD #}
  <text:p></text:p>
  <table:table table:style-name="IseqTable">
    <table:table-column table:style-name="IseqTableColumn" />
    <table:table-header-rows>
      <table:table-row>
        <table:table-cell table:style-name="IseqTableHeader" office:value-type="string">
          <text:p>Ograniczenia metody</text:p>
        </table:table-cell>
      </table:table-row>
    </table:table-header-rows>
    <table:table-row>
      <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
      <text:p text:style-name="justify">{{seq_type.limitations}}</text:p>
      </table:table-cell>
    </table:table-row>
  </table:table>
  <text:p></text:p>
{# LIMITATION OF LIABILITY #}
  <text:p></text:p>
  <table:table table:style-name="IseqTableHeader">
    <table:table-column table:style-name="IseqTableColumn" />
    <table:table-row>
      <table:table-cell table:style-name="IseqTableHeader" office:value-type="string">
        <text:p>Wyłączenie odpowiedzialności</text:p>
      </table:table-cell>
    </table:table-row>
    <table:table-row>
      <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
      <text:p text:style-name="justify">Badanie sekwencji genomu nie powinno być jedynym źródłem informacji służącym do postawienia diagnozy. Należy brać pod uwagę możliwość zaistnienia błędu z powodu zanieczyszczenia próbki, rzadko występujących błędów technicznych, występowania różnic genetycznych niemożliwych do wykrycia stosowanymi metodami oraz innych problemów wynikających z ograniczeń technicznych.</text:p>
      </table:table-cell>
    </table:table-row>

    <table:table-row>
      <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
      <text:p text:style-name="justify">Zgodnie z art. 24 ust. 1 ustawy z dn. 29.08.1997 o ochronie danych osobowych dane osoby badanej zostaną wprowadzone do bazy wyłącznie w celu wykonania analizy DNA i nie będą udostępniane podmiotom/osobom trzecim. Oświadcza się, że stosowane są środki techniczne i organizacyjne zapewniające ochronę przetwarzanych danych odpowiednią do zagrożeń oraz kategorii danych objętych ochroną, a w szczególności zabezpiecza dane osobowe osób badanych przed udostępnieniem ich osobom nieupoważnionym, utratą czy uszkodzeniem.</text:p>
      </table:table-cell>
    </table:table-row>

  </table:table>
  <text:p></text:p>


