<text:p  text:style-name="pagebreak"></text:p>

<text:p text:style-name="H3">Załącznik C</text:p>
<text:p> Opis przedstawionych w raporcie wariantów wg rekomendacji ACMG. </text:p>
<text:p></text:p>

{% for variants in [[variants_pathogenic, "patogenne"], [variants_likely_pathogenic, "prawdopodobnie patogenne"], [variants_uncertain, "o niepewnym wpływie"]] %}
  {% if variants[0][0] is defined and variants[0][0]|length%}
    <text:p  text:style-name="pagebreak"></text:p>
    <text:p>Opisy ACMG dla wariantów zaklasyfikowanych jako {{variants[1]}} wg rekomendacji ACMG</text:p>
    {% for variant in variants[0] %}
        <text:p></text:p>
        <text:p text:style-name="b">{{variant.ISEQ_GENES_NAMES}}, {{variant.ISEQ_ACMG_SUMMARY_SCORE}}, {{variant.CHROM}}:{{variant.POS}}</text:p>
        <text:p text:style-name="justify">{{variant.ISEQ_VARIANT_DESCRIPTION|replace("^", " ")}}</text:p>
        <text:p>
          <draw:frame draw:style-name="logo" text:anchor-type="as-char" svg:width="500px" svg:height="500px">
            {% set variant_pos = variant.CHROM + '-' + variant.POS|string %}
            {% set picture_path = 'Pictures/' + picture.get(variant_pos)%}
            <draw:image xlink:href="{{picture_path}}"/>
          </draw:frame>
        </text:p>""
        <text:p text:style-name="figure">
          Rysunek {{loop.index}}. Wizualizacja wskazanego wariantu genetycznego po uliniowieniu dla {{variant.CHROM}}:{{variant.POS}}, przy użyciu Integrative Genomics Viewer.
        </text:p>
    {% endfor %}
   
  {% endif %}
{% endfor %}
 <text:p></text:p>
    <text:p text:style-name="justify">
        Legenda: </text:p>
        <text:p text:style-name="justify">
            Górny panel ryciny przedstawia odczyty NGS uzyskane przy pomocy narzędzia BWA. Dolny panel przedstawia odczyty uliniowione przy użyciu GATK HaplotypeCaller. Każdy z paneli jest podzielony na sekcje prezentujące pokrycie i uliniowienie. Sekcja pokrycia przedstawia wykres w postaci skumulowanego histogramu. W sekcji uliniowienia odczyty są wyrysowane jako szare poziome paski, z wariantami genetycznymi podświetlonymi kolorem. Intensywność kolorów wskazuje jakość uliniowienia odczytów. Sekwencja genomu referencyjnego została przedstawiona powyżej paneli.  Geny wraz z zaznaczonymi eksonami (ciemnoniebieskie prostokąty) i intronami (ciemnoniebieska linia) zostały przedstawione schematycznie poniżej paneli.

    </text:p>
