<text:p  text:style-name="pagebreak"></text:p>
<table:table table:style-name="table">
  <table:table-column table:style-name="Table1" />
    <table:table-row>
      <table:table-cell table:style-name="TableA1" office:value-type="string">
        <text:p text:style-name="H3">Załącznik B</text:p>
      </table:table-cell>
    </table:table-row>
  <table:table-row>
    <table:table-cell table:style-name="TableA1" office:value-type="string">
    <text:p>
    Klasyfikacja wariantów genetycznych została wykonana ściśle według wytycznych ACMG (American College of Medical Genetics and Genomic).</text:p>
    </table:table-cell>
  </table:table-row>
<table:table-row>
  <table:table-cell table:style-name="TableA1" office:value-type="string">
      <text:p>
      <text:tab/>Na pierwszym etapie procesu dla każdego z wariantów sprawdzono, czy spełnia on kryteria pozwalające przyporządkować go do każdej z 16 kategorii pomocniczych (w tym 9 kategorii wskazujących na patogenny charakter wariantu). Na tym etapie analizy kierowano się wytycznymi opisanymi w publikacjach [1-2]. Co istotne poszczególne kryteria sprawdzają różne, w znacznym stopniu niezależne od siebie cechy, mogące stanowić przesłankę o patogenności lub jej braku wariantu. Ocenie podlega:</text:p>
      <text:p><text:span text:style-name="b">1)</text:span> wpływ, jaki wariant ma na gen lub kodowane przez gen białko (rodzaj uszkodzenia), jak również czy ten rodzaj uszkodzenia jest tolerowany w zmutowanym genie; </text:p>
      <text:p><text:span text:style-name="b">2)</text:span> informacja czy taka sama lub podobna zmiana danego genu była już wcześniej opisana w literaturze biomedycznej oraz jej ewentualny związek z występowaniem choroby; </text:p>
      <text:p><text:span text:style-name="b">3)</text:span> stopień konserwacji ewolucyjnej zmienionej pozycji DNA; </text:p>
      <text:p><text:span text:style-name="b">4)</text:span> częstość występowania danego wariantu w różnych populacjach; </text:p>
      <text:p><text:span text:style-name="b">5)</text:span> informacja zawarta w bazie danych ClinVar dotycząca patgoenności takiego lub podobnego wariantu; </text:p>
      <text:p><text:span text:style-name="b">6)</text:span> informacja zawarta w bazie danych UniProt dotycząca efektu wariantu w analizach funcjonalnych. </text:p>
<text:p>
  <text:tab/>W drugim etapie za przynależność do poszczególnych kategorii pomocniczych przyznawane są punkty. Ich suma decyduje o przyporządkowaniu wariantu do jednej z pięciu końcowych kategorii: patogenny, prawdopodobnie patogenny, niepatogenny, prawdopodobnie niepatogenny, o niepewnej klasyfikacji. </text:p>
  <text:p></text:p>
  <text:p>
  Klasyfikacja przeprowadzona została w oparciu o następujące publikacje:</text:p>
  <text:p><text:span text:style-name="b">[1]</text:span> S. Richards et al., “Standards and Guidelines for the Interpretation of Sequence Variants: A Joint Consensus Recommendation of the American College of Medical Genetics and Genomics and the Association for Molecular Pathology,” Genet. Med. Off. J. Am. Coll. Med. Genet., vol. 17, no. 5, pp. 405–424, May 2015 </text:p>
  <text:p><text:span text:style-name="b">[2]</text:span> A. N. Abou Tayoun et al., “Recommendations for interpreting the loss of function PVS1 ACMG/AMP variant criterion,” <text:span text:style-name="i">Hum. Mutat.</text:span>, vol. 39, no. 11, pp. 1517–1524, 2018. Online: <text:a xlink:type="simple" xlink:href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4544753/">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4544753/</text:a> </text:p>
    <text:p><text:span text:style-name="b">[3]</text:span> S. V. Tavtigian et al., “Modeling the ACMG/AMP Variant Classification Guidelines as a Bayesian Classification Framework,” Genet. Med. Off. J. Am. Coll. Med. Genet., vol. 20, no. 9, pp. 1054–1060, Sep. 2018. </text:p>
<text:p></text:p>

      <text:p>Zaimpementowana została analiza następujących kategorii pomocniczych (skróty wg [1]):</text:p>
      <text:p><text:span text:style-name="i">PVS1, PS1, PS3, PM1, PM2, PM4, PM5, PP2, PP3 </text:span>(kategorie wskazujące na patogenność wariantu),</text:p>
      <text:p><text:span text:style-name="i">BA1, BS2, BP1, BP3, BP4, BP5, BP7 </text:span>(kategorie wskazujące na brak patogenności wariantu).</text:p>
    </table:table-cell>
  </table:table-row>
  <table:table-row>
    <table:table-cell table:style-name="TableA1" office:value-type="string">
    <text:p>Filtrowanie </text:p>
    </table:table-cell>
  </table:table-row>
<table:table-row>
  <table:table-cell table:style-name="TableA1" office:value-type="string">
    <text:p>
    Warianty znajdujące się w tabelach spełniają poniższe kryteria:</text:p>
    <text:p> <text:tab/>- przewidywany przez algorytm SnpEff wpływ wariantu na produkt białkowy jest wysoki lub umiarkowany,</text:p>
    <text:p><text:tab/>- maksymalna częstość allelu w populacjach projektów ExAC i gnomAD jest mniejsza niż 5%.</text:p>
    </table:table-cell>
  </table:table-row>
</table:table>
<text:p></text:p>
