{#T TABLES CAPTION #}
<text:p></text:p>
  <table:table table:style-name="IseqTable">
    <table:table-column />
    <table:table-column />
    <table:table-row>
    <table:table-cell table:style-name="IseqTableHeader" table:number-columns-spanned="2" office:value-type="string">
      <text:p>Tables caption</text:p>
      </table:table-cell>
      <table:covered-table-cell/>
    </table:table-row>
    <table:table-row>
    <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
    <text:p>MITOMAP – allele frequency in MITOMAP population</text:p>
    <text:p>WES-AF – allele frequency in Non-Finnish European population having exomes sequenced in gnomAD project</text:p>
    <text:p>WGS-AF – allele frequency in Non-Finnish European population having genomes sequenced in gnomAD project</text:p>
    <text:p>maxAF – maximum allele frequency among populations from ExAC and gnomAD projects</text:p>
    <text:p>maxPOP –  project and population with maximum allele frequency</text:p>
    </table:table-cell>
  <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
  <text:p>AFR – African/African</text:p>
  <text:p>ASJ – Ashkenazi Jewish</text:p>
  <text:p>AMR – Latino</text:p>
  <text:p>EAS – East Asian</text:p>
  <text:p>FIN – Finnish</text:p>
  <text:p>NFE – Non-Finnish European</text:p>
  <text:p>SAS – South Asian</text:p>
  <text:p>OTH – Other</text:p>
  </table:table-cell>
    </table:table-row>
    <table:table-row>
    <table:table-cell table:style-name="IseqTableCell" table:number-columns-spanned="2" office:value-type="string">
      <text:p>SIFT – predicted pathogenicity, high: {{"<"|e}} 0.11</text:p>
      <text:p>PhastCons – evolutionary conservation, high: {{">"|e}} 0.93</text:p>
      <text:p>GERP –  evolutionary conservation, high: : {{">"|e}} 3.26</text:p>
      <text:p>MCAP – predicted pathogenicity, high: {{"<"|e}} 0.95</text:p>
      <text:p>ACMG score – predicted pathogenicity, pathogenic variant: {{">"|e}} 1.25, likely pathogenic: {{">"|e}} 0.75, uncertain: {{"<"|e}} 0.75 and {{">"|e}} -0.25, likely benign: {{"<"|e}} -0.25; benign: {{"<"|e}} -1 </text:p>
      {# <text:p>AT –  number of gene transcripts affected by a variant / total number of gene transcripts</text:p> #}
      {# <text:p>APCT –  number of protein coding gene transcripts affected by a variant / total number of protein coding gene transcripts</text:p> #}
    </table:table-cell>
    <table:covered-table-cell/>
    </table:table-row>
    <table:table-row>
    <table:table-cell table:style-name="IseqTableCell" table:number-columns-spanned="2" office:value-type="string">
        <text:p>Reference genome: <text:span text:style-name="b">GRCh38</text:span></text:p>
    </table:table-cell>
    <table:covered-table-cell/>
    </table:table-row>
  </table:table>
  <text:p></text:p>

{# METHODS #}
  <text:p></text:p>
  <table:table table:style-name="IseqTable">
    <table:table-column table:style-name="IseqTableColumn" />
      <table:table-row>
        <table:table-cell table:style-name="IseqTableHeader" office:value-type="string">
          <text:p>Methods</text:p>
        </table:table-cell>
      </table:table-row>
    <table:table-row>
      <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
      <text:p text:style-name="justify">Genomic DNA was extracted from the submitted specimen and the Agilent SureSelect human all exon v7 kit was used to target the exon regions of the genome. The targeted regions were sequenced using the Illumina sequencing system with 150bp paired-end reads. The raw reads were mapped to and analyzed with the human reference genome GRCh38 without alternative loci. The targeted coding exons of the known protein-coding Ensembl genes were assessed for coverage and mapping quality. Variant were called using GATK best practices. The identified variants were assessed using Intelliseq Flow annotation pipeline that implements ACMG recommendations. </text:p>
      </table:table-cell>
    </table:table-row>
  </table:table>
  <text:p></text:p>

{# LIMITATION OF THE METHOD #}
  <text:p></text:p>
  <table:table table:style-name="IseqTable">
    <table:table-column table:style-name="IseqTableColumn" />
      <table:table-row>
        <table:table-cell table:style-name="IseqTableHeader" office:value-type="string">
          <text:p>Limitations of the method</text:p>
        </table:table-cell>
      </table:table-row>
    <table:table-row>
      <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
      <text:p text:style-name="justify">The employed method is based on the DNA isolated from blood samples and consequently might
  not reflect the changes in other parts of the body or detect mosaic mutations. Regions characterized
  with high homology to other parts of genome may not be represented accurately. Some parts
  of exome have limited coverage which impacts the variant detection accuracy. The ability to detect
  structural variants is limited. The method is largely based on utilizing the information from external
  databases, hence the ability to detect variants relevant to patient's condition is limited by the scope
  of information present in those databases.
  </text:p>
      </table:table-cell>
    </table:table-row>
  </table:table>
  <text:p></text:p>
{# LIMITATION OF LIABILITY #}
  <text:p></text:p>
  <table:table table:style-name="IseqTableHeader">
    <table:table-column table:style-name="IseqTableColumn" />
    <table:table-row>
      <table:table-cell table:style-name="IseqTableHeader" office:value-type="string">
        <text:p>Limitation of liability</text:p>
      </table:table-cell>
    </table:table-row>
    <table:table-row>
      <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
      <text:p text:style-name="justify">The clinical diagnosis should never be based on the Patient’s genomic sequence analysis alone.
  Factors such as errors due to sample contamination, rare events of technical errors, genetic events
  affecting the patient’s condition impossible to detect using currently available knowledge as well as
  other technical limitations should always be considered. This report should be one of many aspects
  used by the healthcare provider to help with the diagnosis and treatment plan, but it is not the
  diagnosis itself.</text:p>
      </table:table-cell>
    </table:table-row>

    <table:table-row>
      <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
      <text:p text:style-name="justify">According to Article 24(1) of the Law of 29 August 1997 on Personal Data Protection, the patient's
  Personal data will be used solely for the purpose of conducting the DNA analysis and will not be
  shared with any third party. Intelliseq sp. z o.o. declares that it applies all necessary measures to
  protect the patient's personal data, and in particular will refrain from sharing the data with any
  unauthorized party as well as prevent the loss of data or data corruption.</text:p>
      </table:table-cell>
    </table:table-row>

  </table:table>
  <text:p></text:p>


