{# ISEQ HEADER #}
  <text:p text:style-name="H1">
    {{seq_type.name}}
  </text:p>
  <text:p></text:p>

{# PATIENT, SAMPLE, PHYSICIAN #}

  <text:p></text:p>
  <table:table table:style-name="IseqTable" >
    <table:table-column table:style-name="IseqTableColumn" />
    <table:table-column table:style-name="IseqTableColumn"/>
    <table:table-column table:style-name="IseqTableColumn"/>
    <table:table-column table:style-name="IseqTableColumn"/>
    

  {# to do: define "IseqTableCell" cases in variable before loop }
  {# % set cell_style = "IseqTableCell" %#}

  {########## In this section content and arrangment of table is created. #############}
  {%for row in [[["Patient", "Sample"], "IseqTableHeader"],
                [["Surname:", patient.surname, "ID:", sample.ID], "IseqTableCell"],
                [["Name:", patient.name, "Source:", sample.material], "IseqTableCell"],
                [["Sex:", patient.sex, "Sequencing type:", sample.sequencing_type], "IseqTableCell"],
                [["Date of birth:", patient.birthdate, "Sequencing platform:", sample.sequencing_platform], "IseqTableCell"],
                [["PESEL:", patient.pesel, "Sequencing shipment date:", sample.sending_date], "IseqTableCell"],
                [["", "", "Report date:", sample.raport_date], "IseqTableCell"],
                [["Physician", ""], "IseqTableHeader"],
                [["Physician surname:", sample.doctor_surname, "", ""], "IseqTableCell"],
                [["Physician name:", sample.doctor_name, "", ""], "IseqTableCell"] 
                ]%}
  {#######################}


  {# Construction and style for HEADERS in table (two columns per table in row) #}
    <table:table-row>
    {% if row[1] == "IseqTableHeader"%}
      {%for cell in row[0]%}
        <table:table-cell table:style-name="IseqTableHeader" table:number-columns-spanned="2" office:value-type="string">
          <text:p>{{cell}}</text:p>
        </table:table-cell>
        <table:covered-table-cell/>
      {% endfor %}

  {# Construction and style for CELLS in table (four columns in row) #}
    {% elif row[1] == "IseqTableCell"%}
      {%for cell in row[0]%}
        <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
        <text:p>{{cell}}</text:p>
        </table:table-cell>
      {% endfor %}

  {# just in case if no style is defined for cell #}
    {% else %}
      {%for cell in row[0]%}
        <table:table-cell office:value-type="string">
          <text:p>{{cell}}</text:p>
          </table:table-cell>
      {% endfor %}
    {% endif %}

    </table:table-row> 
  {% endfor %}


  </table:table>
  <text:p></text:p>

{# SCOPE OF ANALYSIS #}
  <table:table table:style-name="IseqTable">
    <table:table-column table:style-name="IseqTableColumn" />
    <table:table-row table:style-name="IseqTableRow">
      <table:table-cell table:style-name="IseqTableHeader" office:value-type="string">
        <text:p>Scope of analysis</text:p>
      </table:table-cell>
    </table:table-row>
    <table:table-row table:style-name="IseqTableRow">
      <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
        {% if seq_type.type == "exome" %}
          <text:p>{{seq_type.scope}} Analysis of SNVs (<text:span text:style-name="i">Single Nucleotide Variants</text:span> – SNP) and INDELs (<text:span text:style-name="i">short INsertions and DELetions</text:span> – INDEL) in genes from custom gene panel.</text:p>
        {% else %}
          <text:p>{{seq_type.scope}}.</text:p>
        {% endif %}
      </table:table-cell>
    </table:table-row>
  </table:table>

{# PATIENT DESCRIPTION (CLINICAL INFORMATION) #}
  <text:p></text:p>
  <table:table table:style-name="IseqTable">
    <table:table-column table:style-name="IseqTableColumn" />
      <table:table-row  table:style-name="IseqTableRow">
        <table:table-cell table:style-name="IseqTableHeader" office:value-type="string">
          <text:p>Patient description (clinical information)</text:p>
        </table:table-cell>
      </table:table-row>
    <table:table-row>
      <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
        <text:p text:style-name="justify">{{patient.description}}</text:p>
      </table:table-cell>
    </table:table-row>
  </table:table>

