<text:p  text:style-name="pagebreak"></text:p>

<text:p text:style-name="H3">Appendix C</text:p>
<text:p> Descriptions of variants presented in report according to ACMG recommendations. </text:p>
<text:p></text:p>

{% for variants in [[variants_pathogenic, "pathogenic"], [variants_likely_pathogenic, "likely pathogenic"], [variants_uncertain, "uncertain"]] %}
  {% if variants[0][0] is defined and variants[0][0]|length%}
    <text:p  text:style-name="pagebreak"></text:p>
    <text:p>ACMG descriptions for variants classified as {{variants[1]}} according to ACMG recommendations</text:p>
    {% for variant in variants[0] %}
        <text:p></text:p>
        <text:p text:style-name="b">{{variant.ISEQ_GENES_NAMES}}, {{variant.ISEQ_ACMG_SUMMARY_SCORE}}, {{variant.CHROM}}:{{variant.POS}}</text:p>
        <text:p text:style-name="justify">{{variant.ISEQ_VARIANT_DESCRIPTION|replace("^", " ")}}</text:p>
        <text:p>
          <draw:frame draw:style-name="logo" text:anchor-type="as-char" svg:width="500px" svg:height="500px">
            {% set variant_pos = variant.CHROM + '-' + variant.POS|string %}
            {% set picture_path = 'Pictures/' + picture.get(variant_pos)%}
            <draw:image xlink:href="{{picture_path}}"/>
          </draw:frame>
        </text:p>""
        <text:p text:style-name="figure">
          Figure {{loop.index}}. The post alignment variant visualization for {{variant.CHROM}}:{{variant.POS}}, using Integrative Genomics Viewer.
        </text:p>
    {% endfor %}

  {% endif %}
{% endfor %}
 <text:p></text:p>
    <text:p text:style-name="justify">
        Legend: </text:p>
        <text:p text:style-name="justify">
            The upper panel presents NGS reads as realigned by BWA. The bottom panel presents reads aligned by GATK HaplotypeCaller. Each panel is divided into coverage and alignment sections. The coverage section presents a cumulative histogram. In alignment section sequencing reads are drawn as grey horizontal bars, with variant bases highlighted in color. Color intensity indicates the quality of the base call. The reference genome sequence is presented above alignment panels. Gene annotation track with marked exons (dark blue rectangles) and introns (dark blue line) is presented below the alignment panels.
    </text:p>
