<text:p></text:p>
<table:table table:name="Table" table:style-name="Table">
  <table:table-column table:style-name="IseqTableColumn80" />
  <table:table-column table:style-name="IseqTableColumn30" />
  <table:table-column table:style-name="IseqTableColumn2" />
  <table:table-column table:style-name="IseqTableColumn2" />
  <table:table-column table:style-name="IseqTableColumn2" />
  <table:table-header-rows>
   <table:table-row table:style-name="IseqTableRow">

    {%for measure in ["Measure", "Value", "Warning", "Error", "Comment"]%}
      <table:table-cell table:style-name="IseqTableSubheader" office:value-type="string">
        <text:p>{{measure}}</text:p>
      </table:table-cell>
    {% endfor %}
    </table:table-row>
  </table:table-header-rows>
  {% for measure in qc %}
  <table:table-row table:style-name="IseqTableRow">
  <text:p> </text:p>
    <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
      <text:p>{{measure.description}}</text:p>
    </table:table-cell>
    <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
      <text:p>{{measure.value}}</text:p>
    </table:table-cell>

    {% if (measure.warning =="null") %}

    <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
      <text:p></text:p>
    </table:table-cell>
    <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
      <text:p></text:p>
    </table:table-cell>

    {% elif (measure.warning < measure.error) %}

    {% if (measure.value < measure.warning) %}
    <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
      <text:p>{{measure.warning}}</text:p>
    </table:table-cell>
    {% else %}
    <table:table-cell table:style-name="IseqTableCellWarning" office:value-type="string">
      <text:p>{{measure.warning}}</text:p>
    </table:table-cell>
    {% endif %}
    {% if (measure.value < measure.error) %}
    <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
      <text:p>{{measure.error}}</text:p>
    </table:table-cell>
    {% else %}
    <table:table-cell table:style-name="IseqTableCellError" office:value-type="string">
      <text:p>{{measure.error}}</text:p>
    </table:table-cell>
    {% endif %}

    {% else %}

    {% if (measure.value > measure.warning) %}
    <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
      <text:p>{{measure.warning}}</text:p>
    </table:table-cell>
    {% else %}
    <table:table-cell table:style-name="IseqTableCellWarning" office:value-type="string">
      <text:p>{{measure.warning}}</text:p>
    </table:table-cell>
    {% endif %}
    {% if (measure.value > measure.error) %}
    <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
      <text:p>{{measure.error}}</text:p>
    </table:table-cell>
    {% else %}
    <table:table-cell table:style-name="IseqTableCellError" office:value-type="string">
      <text:p>{{measure.error}}</text:p>
    </table:table-cell>
    {% endif %}

    {% endif %}

    <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
      <text:p>{{measure.comment}}</text:p>
    </table:table-cell>
  </table:table-row>
  {% endfor %}
</table:table>

<text:p> </text:p>
