<?jinja version="1.0" encoding="utf-8" ?>
<office:document-content {% include 'iseq-styles/xmlns.definition-template.jinja' %}>
  <office:font-face-decls>
    <style:font-face style:name="Lato" svg:font-family="Lato" style:font-adornments="Regular" style:font-pitch="variable"/>
    <style:font-face style:name="Muli" svg:font-family="Muli" style:font-pitch="variable">
      <svg:font-face-src>
        <svg:font-face-uri xlink:href="Fonts/Font_Muli_1.ttf" xlink:type="simple" loext:font-style="normal" loext:font-weight="normal">
          <svg:font-face-format svg:string="truetype"/>
        </svg:font-face-uri>
        <svg:font-face-uri xlink:href="Fonts/Font_Muli_2.ttf" xlink:type="simple" loext:font-style="normal" loext:font-weight="bold">
          <svg:font-face-format svg:string="truetype"/>
        </svg:font-face-uri>
        <svg:font-face-uri xlink:href="Fonts/Font_Muli_3.ttf" xlink:type="simple" loext:font-style="italic" loext:font-weight="normal">
          <svg:font-face-format svg:string="truetype"/>
        </svg:font-face-uri>
        <svg:font-face-uri xlink:href="Fonts/Font_Muli_3.ttf" xlink:type="simple" loext:font-style="italic" loext:font-weight="bold">
          <svg:font-face-format svg:string="truetype"/>
        </svg:font-face-uri>
      </svg:font-face-src>
    </style:font-face>
  </office:font-face-decls>
<office:styles>
  {% include 'iseq-styles/paragraph.style-template.jinja' %}
</office:styles>
<office:automatic-styles>
  {% include 'iseq-styles/page.style-template.jinja' %}
  {% include 'iseq-styles/table.style-template.jinja' %}
</office:automatic-styles>
{#<office:master-styles>
  {% include 'iseq-styles/master.styles-template.jinja' %}
</office:master-styles>#}

