<style:default-style style:family="paragraph">
  <style:text-properties style:font-name="Muli" fo:font-size="9pt" fo:color="#142339" />
</style:default-style>

<style:style style:name="H1" style:family="paragraph">
  <style:paragraph-properties fo:text-align="justify"/>
  <style:text-properties fo:font-size="20pt" fo:font-weight="bold" />
</style:style>

<style:style style:name="H2" style:family="paragraph">
  <style:paragraph-properties fo:text-align="justify"/>
  <style:text-properties fo:font-size="16pt" fo:font-weight="bold" />
</style:style>

<style:style style:name="H3" style:family="paragraph">
  <style:paragraph-properties fo:text-align="justify"/>
  <style:text-properties fo:font-size="14pt" fo:font-weight="bold" />
</style:style>

<style:style style:name="pagebreak" style:family="paragraph" style:parent-style-name="Standard">
  <style:paragraph-properties fo:break-before="page"/>
</style:style>

<style:style style:name="justify" style:family="paragraph">
  <style:paragraph-properties fo:text-align="justify"/>
</style:style>

<style:style style:name="b" style:family="paragraph">
    <style:text-properties fo:font-weight="bold"/>
</style:style>
<style:style style:name="i" style:family="paragraph">
      <style:text-properties fo:font-style="italic"/>
</style:style>
<style:style style:name="ib" style:family="paragraph">
      <style:text-properties fo:font-weight="bold" fo:font-style="italic"/>
</style:style>

<style:style style:name="figure" style:family="paragraph">
      <style:text-properties fo:font-weight="italic" fo:font-style="italic" fo:font-size="7pt"/>
</style:style>

<style:style style:name="ub" style:family="paragraph">
      <style:text-properties style:text-underline-style="solid" fo:font-weight="bold"/>
</style:style>

{# Adding text styles enables formatting words inside longer text lines #}
<style:style style:name="i" style:family="text">
      <style:text-properties fo:font-style="italic"/>
</style:style>

<style:style style:name="b" style:family="text">
    <style:text-properties fo:font-weight="bold"/>
</style:style>

<style:style style:name="ib" style:family="text">
      <style:text-properties fo:font-weight="bold" fo:font-style="italic"/>
</style:style>

<style:style style:name="ub" style:family="text">
      <style:text-properties style:text-underline-style="solid" fo:font-weight="bold"/>
</style:style>
