{# FONTS #}
<office:font-face-decls>
    <style:font-face style:name="Lato" svg:font-family="Lato" style:font-adornments="Regular" style:font-pitch="variable"/>
    <style:font-face style:name="Muli" svg:font-family="Muli" style:font-pitch="variable">
        <svg:font-face-src>
            <svg:font-face-uri xlink:href="Fonts/Font_Muli_1.ttf" xlink:type="simple" loext:font-style="normal" loext:font-weight="normal">
                <svg:font-face-format svg:string="truetype"/>
            </svg:font-face-uri>
            <svg:font-face-uri xlink:href="Fonts/Font_Muli_2.ttf" xlink:type="simple" loext:font-style="normal" loext:font-weight="bold">
                <svg:font-face-format svg:string="truetype"/>
            </svg:font-face-uri>
            <svg:font-face-uri xlink:href="Fonts/Font_Muli_3.ttf" xlink:type="simple" loext:font-style="italic" loext:font-weight="normal">
                <svg:font-face-format svg:string="truetype"/>
            </svg:font-face-uri>
            <svg:font-face-uri xlink:href="Fonts/Font_Muli_3.ttf" xlink:type="simple" loext:font-style="italic" loext:font-weight="bold">
                <svg:font-face-format svg:string="truetype"/>
            </svg:font-face-uri>
        </svg:font-face-src>
    </style:font-face>
</office:font-face-decls>

{# VARIABLES #}
{% set pallet = [{"name": "Olive", "color": "#808000"},
                {"name": "Maroon", "color": "#800000"},
                {"name": "White", "color": "#ffffff"},
                {"name": "Black", "color": "#000000"},
                {"name": "BeeYellow", "color": "#E9AB17" }] %}
{% set fontsizes = [8, 10, 12, 14, 16, 18, 20] %}
<office:automatic-styles>
{# BELOW EVERYTHING FOR MAIN_ICONS #}

    {# Example style for icon grBlack, tBlack12, pOlivePos #}
    {% for color in pallet %}
        <style:style style:name="gr{{color.name}}" style:family="graphic">
            <style:graphic-properties
                draw:fill-color="{{color.color}}" 
                draw:textarea-horizontal-align="justify" 
                draw:textarea-vertical-align="middle" 
                draw:auto-grow-height="false" 
                fo:min-height="0.802in" 
                fo:min-width="1.7917in" 
                style:run-through="foreground" 
                style:wrap="run-through" 
                style:number-wrapped-paragraphs="no-limit" 
                style:vertical-pos="from-top" 
                style:vertical-rel="paragraph" 
                style:horizontal-pos="from-left" 
                style:horizontal-rel="paragraph" 
                draw:wrap-influence-on-position="once-concurrent" 
                style:flow-with-text="false" />
        </style:style>
        {% for size in fontsizes %}
            <style:style style:name="t{{color.name}}{{size}}" style:family="text">
                <style:text-properties fo:color="{{color.color}}" fo:font-size="{{size}}" 
                fo:font-weight="bold" style:font-size-asian="18pt" style:font-weight-asian="bold" 
                style:font-size-complex="18pt" style:font-weight-complex="bold"/>
            </style:style>
        {% endfor %}
        {% for icon in ["Pos", "Neg"] %}
            <style:style style:name="p{{color.name}}{{icon}}" style:family="paragraph">
                {% if icon == "Pos"%}
                    <loext:graphic-properties draw:fill-color="#ffffff"/>
                    <style:text-properties fo:color="{{color.color}}"/>
                {% elif icon == "Neg"%}
                    <loext:graphic-properties draw:fill-color="{{color}}"/>
                    <style:text-properties fo:color="#ffffff"/>
                {% endif %}
            </style:style>
        {% endfor %}
    {% endfor %}

{# PAGE STYLE #}

    {# To activate page.style-template you need to uncomment: #}
    {<style:master-page style:name="Standard" style:page-layout-name="Mpm1"/> #}

    <style:page-layout style:name="Mpm1">
        <style:page-layout-properties 
            fo:page-width="8.2681in" 
            fo:page-height="11.6929in"
            style:num-format="1" 
            style:print-orientation="portrait" 
            fo:margin-top="0.7874in" 
            fo:margin-bottom="0.7874in" 
            fo:margin-left="0.7874in" 
            fo:margin-right="0.7874in" 
            style:writing-mode="lr-tb" 
            style:footnote-max-height="0in">
        <style:footnote-sep 
            style:width="0.0071in" 
            style:distance-before-sep="0.0398in" 
            style:distance-after-sep="0.0398in" 
            style:line-style="solid" 
            style:adjustment="left" 
            style:rel-width="25%" 
            style:color="#000000"/>
        </style:page-layout-properties>
        <style:header-style/>
        <style:footer-style/>
        </style:page-layout>


{# TABLE STYLE #}

    {# table #}
        <style:style style:name="IseqTable" style:family="table">
            <style:table-properties table:border-model="collapsing"/>
        </style:style>
    {# table-column #}
        {% for width in range(100) %}
            <style:style style:name="IseqTableColumn{{width}}" style:family="table-column">
            <style:table-column-properties style:rel-column-width="{{width}}*" />
            </style:style>
        {% endfor %}

    {# table-cell #}
        {% for colour in [ {"color":"#ffffff", "name": "", "solid": "#ffffff"},
                            {"color":"#fff5fd", "name": "CreamBackground", "solid": "#fff5fd"},
                            ] %}
                            
            <style:style style:name="IseqTableCell{{colour.name}}" style:family="table-cell">
            <style:table-cell-properties fo:background-color="{{colour.color}}" fo:padding="5pt" fo:border="1.5pt solid {{colour.solid}}" />
            </style:style>
        {% endfor %} 

    {# table-row #}
        <style:style style:name="IseqTableRow" style:family="table-row">
            <style:table-row-properties fo:keep-together="always"/>
        </style:style>

</office:automatic-styles>


{# MASTER STYLES #}
   <office:master-styles>
    <style:master-page style:name="Standard" style:page-layout-name="Mpm1">
        <style:footer>
        <text:p text:style-name="MP1">
            {# <text:page-number text:select-page="current">1</text:page-number> #}
            <text:s/>
        </text:p>
        </style:footer>
    </style:master-page>
    </office:master-styles>

