{% include 'iseq-styles/main.style-template.jinja' %}

{# master styles with page numbering and page landscape orientation #}
<office:master-styles>
  {% include 'iseq-styles/master.styles-template-portrait.jinja' %}
</office:master-styles>


<office:body>
<office:text text:use-soft-page-breaks="true">

{% include 'iseq-styles/logo.template.jinja' %}
{% include 'header-template.jinja' %}

{% set fastqs_1 = qc1|map(attribute="filename")|list %}
{% set fastqs_2 = qc2|map(attribute="filename")|list %}
{% for i in range(bam_qc|length) %}
  {% set basename = bam_qc[i].filename %}
  {% for a in fastqs_1 if a.startswith(basename) %}
     {% set json_1_list = qc1|selectattr("filename","equalto", a)|list %}
     {% set json_1 = json_1_list|first %}
     <text:p text:style-name="b">Raport dla pliku: {{a|replace("-quality-check.json","")}}</text:p>
    {% set qc = json_1.QC%}
    {% include 'table-template.jinja' %}
    {% set picture_name = json_1.filename|replace("-quality-check.json","-qc.png") %}
     <text:p>
       <draw:frame draw:style-name="logo" text:anchor-type="as-char" svg:width="600px" svg:height="380px">
         <draw:image xlink:href="Pictures/{{picture_name}}"/>
       </draw:frame>
      </text:p>
      <text:p text:style-name="i">Na wykresie przedstawiono metrykę "Per base read quality scores". Obrazek został wygenerowany za pomocą programu fastQC.</text:p>
  <text:p></text:p>
  <text:p></text:p>
  {% endfor %}
  {% for b in fastqs_2 if b.startswith(basename) %}
  {% set json_2_list = qc2|selectattr("filename","equalto", b)|list %}
     {% set json_2 = json_2_list|first %}
     <text:p text:style-name="b">Raport dla pliku:  {{b|replace("-quality-check.json","")}}</text:p>
    {% set qc = json_2.QC%}
    {% include 'table-template.jinja' %}
    {% set picture_name = json_2.filename|replace("-quality-check.json","-qc.png") %}
      <text:p>
       <draw:frame draw:style-name="logo" text:anchor-type="as-char" svg:width="600px" svg:height="380px">
         <draw:image xlink:href="Pictures/{{picture_name}}"/>
       </draw:frame>
      </text:p>
       <text:p text:style-name="i">Na wykresie przedstawiono metrykę "Per base read quality scores". Obrazek został wygenerowany za pomocą programu fastQC.</text:p>
       <text:p></text:p>
       <text:p></text:p>
  {% endfor %}
    <text:p text:style-name="b">Raport z analizy jakości pliku bam, powstałego z wygenerowania pierwszych 100000 odczytów z plików fastq {{basename}}</text:p>
   {% set bam_qc = bam_qc[i].QC %}
   {% include 'bam-table-template.jinja' %}
   <text:p></text:p>
   <text:p></text:p>
{% endfor %}
</office:text>
</office:body>
</office:document-content>
